flows/Complete_WOLineItems.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Picturechoice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PictureChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Travel_Time_Null</name>
        <label>Site Conditions Null?</label>
        <locationX>481</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Update_WO_Status_to_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_Time_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Veg</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Conditions</targetReference>
            </connector>
            <label>Site Conditions Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_WOLI_CLosed</name>
        <label>Is WOLI CLosed</label>
        <locationX>290</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Get_WO_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Statuspick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Statuspick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CannotComplete</elementReference>
                </rightValue>
            </conditions>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Start_Time_Null</name>
        <label>Is Work Start Time Null?</label>
        <locationX>1425</locationX>
        <locationY>1246</locationY>
        <defaultConnector>
            <targetReference>Update_WO_End_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Time_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkStart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Start_Time</targetReference>
            </connector>
            <label>Start Time is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Asset_Offline1</name>
        <label>Was Asset Offline?</label>
        <locationX>2239</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Update_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Asset_is_offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_the_asset_offline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Were_you_able_to_get_the_Asset_Online</targetReference>
            </connector>
            <label>Asset is offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Asset_Offline1_0</name>
        <label>Was Asset Offline?</label>
        <locationX>2076</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>Asset_Offline_Online_Times_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Asset_got_back_online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Were_you_able_to_get_the_Asset_Online1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Offline_Online_Times</targetReference>
            </connector>
            <label>Asset got back online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_End_Time_is_Before_Work_Start_Time</name>
        <label>Work End Time is Before Work Start Time</label>
        <locationX>1076</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>UpdateWoli</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Work_End_Time</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Work_Start_Time</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Work_Start_Time</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Travel_Start_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_a_Valid_Start_and_End_Time</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>WorkTypeLabel_0</name>
        <label>Work Type</label>
        <locationX>993</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Other_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Preventative_Maintenance_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MaintenanceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Preventative</targetReference>
            </connector>
            <label>Preventative Maintenance Primary</label>
        </rules>
        <rules>
            <name>Mowing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landscaping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Mowing</targetReference>
            </connector>
            <label>Mowing</label>
        </rules>
        <rules>
            <name>Corrective_Checklist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corrective</targetReference>
            </connector>
            <label>Corrective</label>
        </rules>
        <rules>
            <name>Preventative_Maintenance_Secondary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MaintenanceType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Preventative</targetReference>
            </connector>
            <label>Preventative Maintenance Secondary</label>
        </rules>
        <rules>
            <name>Module_Washing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Module Washing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Mowing</targetReference>
            </connector>
            <label>Module Washing</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Soiling</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Soiling__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vegetation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vegetation__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WeatherConditionsPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Weather_Conditions__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Complete WOLineItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete WOLineItems</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_WO_Info</name>
        <label>Get WO Info</label>
        <locationX>297</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>MaintenanceType</assignToReference>
            <field>Maintenance_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PreviousWOLIEndDateTime</assignToReference>
            <field>Previous_WOLI_End_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TravelTime</assignToReference>
            <field>Travel_Start_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Veg</assignToReference>
            <field>Vegetation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>WorkTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkEnd</assignToReference>
            <field>Work_End_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkStart</assignToReference>
            <field>Work_Start_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_Datat</name>
        <label>Get WOLI Data</label>
        <locationX>299</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_WOLI_CLosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>Offline</assignToReference>
            <field>Asset_Offline__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Online</assignToReference>
            <field>Asset_Online__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetType</assignToReference>
            <field>Asset_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Checklist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EndTime</assignToReference>
            <field>End_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StartTime</assignToReference>
            <field>Start_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Statuspick</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OfflineSelection</assignToReference>
            <field>Was_Asset_Offline__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>WorkType</name>
        <label>WorkType</label>
        <locationX>298</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Travel_Time_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Status_to_In_Progress</name>
        <label>Set Status to In Progress</label>
        <locationX>850</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>WorkTypeLabel_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_End_Time</name>
        <label>Update WO End Time</label>
        <locationX>1696</locationX>
        <locationY>1352</locationY>
        <connector>
            <targetReference>Update_WO_With_End_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_End_Time__c</field>
            <value>
                <elementReference>Work_End_Time</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Start_Time</name>
        <label>Update WO Start Time</label>
        <locationX>1696</locationX>
        <locationY>1133</locationY>
        <connector>
            <targetReference>Update_WO_End_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Travel_Start_Time__c</field>
            <value>
                <elementReference>Travel_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Start_Time__c</field>
            <value>
                <elementReference>Work_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Status_to_In_Progress</name>
        <label>Update WO Status to In Progress</label>
        <locationX>699</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Set_Status_to_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Travel_Time</name>
        <label>Update WO Travel Time</label>
        <locationX>643</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Update_WO_Status_to_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Soiling__c</field>
            <value>
                <elementReference>Soilingselection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vegetation__c</field>
            <value>
                <elementReference>Vegetationselection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weather_Conditions__c</field>
            <value>
                <elementReference>Weather_Conditions</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_With_End_Time</name>
        <label>Update WO With End Time</label>
        <locationX>1868</locationX>
        <locationY>1352</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_WOLI_End_Date_Time__c</field>
            <value>
                <elementReference>Work_End_Time</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>1699</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Set_Work_Times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Fault__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Offline__c</field>
            <value>
                <elementReference>Asset_Offline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Online__c</field>
            <value>
                <elementReference>Asset_Online</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_Asset_Offline__c</field>
            <value>
                <elementReference>Was_the_asset_offline</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI_0</name>
        <label>Update WOLI</label>
        <locationX>1702</locationX>
        <locationY>969</locationY>
        <connector>
            <targetReference>Set_Work_Times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Fault__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Offline__c</field>
            <value>
                <elementReference>Asset_Offline_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Online__c</field>
            <value>
                <elementReference>Asset_Online_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_Asset_Offline__c</field>
            <value>
                <elementReference>Was_the_asset_offline</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWoli</name>
        <label>Update WOLI</label>
        <locationX>1084</locationX>
        <locationY>1244</locationY>
        <connector>
            <targetReference>Is_Work_Start_Time_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>Work_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Work_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Work_Order_Line_Item_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Start_Time__c</field>
            <value>
                <elementReference>Travel_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Asset_Offline_Online_Times</name>
        <label>Asset Offline/Online Times</label>
        <locationX>1966</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
        <fields>
            <name>Asset_Offline</name>
            <dataType>DateTime</dataType>
            <fieldText>Asset Offline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!Asset_Online} &gt; {!Asset_Offline}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Asset_Online</name>
            <dataType>DateTime</dataType>
            <fieldText>Asset Online</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Offline_Online_Times_0</name>
        <label>Asset Offline/Online Times</label>
        <locationX>1969</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WOLI_0</targetReference>
        </connector>
        <fields>
            <name>Asset_Offline_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Asset Offline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>{!Asset_Online} &gt; {!Asset_Offline}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Asset_Online_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Asset Online</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>2044</locationX>
        <locationY>1353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ChecklistComplete</name>
            <fieldText>The checklist has been completed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_a_Valid_Start_and_End_Time</name>
        <label>Enter a Valid Start and End Time</label>
        <locationX>1220</locationX>
        <locationY>999</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Work_Times</targetReference>
        </connector>
        <fields>
            <name>EndbeforeStart</name>
            <fieldText>&lt;p&gt;Your Start Time is before your Travel Time &lt;/p&gt;&lt;p&gt;OR&lt;/p&gt;&lt;p&gt;Your End Time is before your Start Time. Please enter a valid Travel, Start and End.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Travel: {!Travel_Start_Time}&lt;/p&gt;&lt;p&gt;Start: {!Work_Start_Time}&lt;/p&gt;&lt;p&gt;End: {!Work_End_Time}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Work_Times</name>
        <label>Set Work Times</label>
        <locationX>1357</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Work_End_Time_is_Before_Work_Start_Time</targetReference>
        </connector>
        <fields>
            <name>Work_Order_Line_Item_Status</name>
            <choiceReferences>Completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Line Item Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Travel_Start_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Travel Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Work_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>PreviousWOLIEndDateTime</elementReference>
            </defaultValue>
            <fieldText>Work Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_End_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Work End Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Conditions</name>
        <label>Site Conditions</label>
        <locationX>487</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WO_Travel_Time</targetReference>
        </connector>
        <fields>
            <name>Weather_Conditions</name>
            <choiceReferences>WeatherConditionsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Weather Conditions</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vegetationselection</name>
            <choiceReferences>Vegetation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vegetation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Soilingselection</name>
            <choiceReferences>Soiling</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Soiling</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Was_Asset_Offline</name>
        <label>Was Asset Offline?</label>
        <locationX>2246</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Asset_Offline1</targetReference>
        </connector>
        <fields>
            <name>Was_the_asset_offline</name>
            <choiceReferences>AssetOffline</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was the asset offline?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Were_you_able_to_get_the_Asset_Online</name>
        <label>Were you able to get the Asset Online?</label>
        <locationX>2244</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Asset_Offline1_0</targetReference>
        </connector>
        <fields>
            <name>Were_you_able_to_get_the_Asset_Online1</name>
            <choiceReferences>AssetOffline</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were you able to get the Asset Online?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_WOLI_Datat</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Complete_Mowing</name>
        <label>Complete Mowing</label>
        <locationX>1357</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>Set_Work_Times</targetReference>
        </connector>
        <flowName>Complete_Mowing</flowName>
        <inputAssignments>
            <name>ChecklistId</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WOId</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkTypeName</name>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetType</name>
            <value>
                <elementReference>AssetType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <name>ChecklistId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Complete_Preventative</name>
        <label>Complete Preventative</label>
        <locationX>1352</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>Was_Asset_Offline</targetReference>
        </connector>
        <flowName>Complete_Preventative_Line_Items_v2</flowName>
        <inputAssignments>
            <name>WOId</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ChecklistId</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetType</name>
            <value>
                <elementReference>AssetType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkTypeName</name>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Corrective</name>
        <label>Corrective</label>
        <locationX>1355</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Was_Asset_Offline</targetReference>
        </connector>
        <flowName>Complete_Corrective</flowName>
        <inputAssignments>
            <name>ChecklistId</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetType</name>
            <value>
                <elementReference>AssetType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkTypeName</name>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WOId</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <name>ChecklistId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Other_Checklist</name>
        <label>Other Checklist</label>
        <locationX>1352</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Was_Asset_Offline</targetReference>
        </connector>
        <flowName>Other_Checklist</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ChecklistId</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WOId</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetFault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MaintenanceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PreviousWOLIEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SV__c</objectType>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Veg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
