flows/Complete_Mowing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <constants>
        <name>BOPDebrisLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The site is free of debris, rodent nest, insect infestation, or any other unwanted materials.</stringValue>
        </value>
    </constants>
    <constants>
        <name>BOPDrainage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All site drainage systems including culverts, drainage ditches are free of debris or blockages and water flow is unimpeded</stringValue>
        </value>
    </constants>
    <constants>
        <name>BOPFenceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fence around the perimeter of the site is in good condition and free of any damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>BOPGroundsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site grounds are free of significant ruts, holes, erosion or depressions which are not part of the site design</stringValue>
        </value>
    </constants>
    <constants>
        <name>BOPObstructionsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site was walk to identify any obstructions before mowing</stringValue>
        </value>
    </constants>
    <constants>
        <name>BOPTrimmedLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site was completely trimmed around all equipment</stringValue>
        </value>
    </constants>
    <constants>
        <name>BOPVandalism</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The site is free of any sign of vandalism, theft or any other criminal activity</stringValue>
        </value>
    </constants>
    <constants>
        <name>BOPVegDebrisLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All debris, other than vegetation, has been transported off site.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SAGroundsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Grounds are free of significant ruts, holes, erosion or depressions which are not part of the site design.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SAObstructionsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site was walk to identify any obstructions before mowing</stringValue>
        </value>
    </constants>
    <constants>
        <name>SARodentDebrisLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The Array is free of debris, rodent nest, insect infestation, or any other unwanted materials.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SATrimmedLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site was completely trimmed around the Array.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SAVegDebrisLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All vegetation debris was cleaned off of modules and equipment.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Asset_Type</name>
        <label>Asset Type</label>
        <locationX>854</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Image_Capture_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOP_Mowing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landscaping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BOP_Mowing_Checklist</targetReference>
            </connector>
            <label>BOP Mowing</label>
        </rules>
        <rules>
            <name>Solar_Array_Mowing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Module Washing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_Array_Mowing_Grounds_Checklist</targetReference>
            </connector>
            <label>Solar Array Mowing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail</name>
        <label>Fail</label>
        <locationX>188</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>BOP_Mowing_Fence_Photo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPFenceFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingFence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork</targetReference>
            </connector>
            <label>BOPFenceFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0</name>
        <label>Fail</label>
        <locationX>174</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>BOP_Mowing_Checklist_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPGroundsFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingGrounds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0</targetReference>
            </connector>
            <label>BOPGroundsFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0</name>
        <label>Fail</label>
        <locationX>180</locationX>
        <locationY>561</locationY>
        <defaultConnector>
            <targetReference>BOP_Mowing_Checklist_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPVandalismFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingVandalism</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0</targetReference>
            </connector>
            <label>BOPVandalismFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0</name>
        <label>Fail</label>
        <locationX>185</locationX>
        <locationY>801</locationY>
        <defaultConnector>
            <targetReference>BOP_Mowing_Checklist_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPObstructionsFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingObstructions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0</targetReference>
            </connector>
            <label>BOPObstructionsFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_0</name>
        <label>Fail</label>
        <locationX>180</locationX>
        <locationY>1062</locationY>
        <defaultConnector>
            <targetReference>BOP_Mowing_Trimmed_Photo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPTrimmedFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingTrimmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0</targetReference>
            </connector>
            <label>BOPTrimmedFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_0_0</name>
        <label>Fail</label>
        <locationX>176</locationX>
        <locationY>1241</locationY>
        <defaultConnector>
            <targetReference>BOP_Mowing_Checklist_1_1_1_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPDebrisFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingDebris</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0</targetReference>
            </connector>
            <label>BOPDebrisFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_0_0_0</name>
        <label>Fail</label>
        <locationX>178</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>BOP_Mowing_Checklist_1_1_1_1_1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPDrainageFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingDrainage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0</targetReference>
            </connector>
            <label>BOPDrainageFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_0_0_0_0</name>
        <label>Fail</label>
        <locationX>177</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Image_Capture_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOPVegDebrisFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOPMowingVegDebris</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>BOPVegDebrisFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_1</name>
        <label>Fail</label>
        <locationX>1001</locationX>
        <locationY>829</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SAGroundsFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolarArrayGrounds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SAGroundsFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_1_1</name>
        <label>Fail</label>
        <locationX>999</locationX>
        <locationY>1086</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SAObstructionsFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolarArrayMowingObstructions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SAObstructionsFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_1_1_1</name>
        <label>Fail</label>
        <locationX>1006</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Trimmed_Photo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SATrimmedFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolarArrayMowingTrimmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SATrimmedFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_1_1_1_1</name>
        <label>Fail</label>
        <locationX>1010</locationX>
        <locationY>1529</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1_1_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SAVegDebrisFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolarArrayMowingVegDebris</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SAVegDebrisFail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fail_0_0_0_1_1_1_1_1</name>
        <label>Fail</label>
        <locationX>1019</locationX>
        <locationY>1610</locationY>
        <defaultConnector>
            <targetReference>Image_Capture_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SARodentDebrisFail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolarArrayMowingRodentDebris</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SARodentDebrisFail</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Complete Mowing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Mowing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Lookup_Checklist</name>
        <label>Lookup Checklist</label>
        <locationX>861</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asset_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <object>Checklist__c</object>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SharinPixToken</assignToReference>
            <field>SharinPix_Token_Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist</name>
        <label>Update Checklist</label>
        <locationX>1239</locationX>
        <locationY>544</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BOPMowingVegDebris__c</field>
            <value>
                <elementReference>BOPMowingVegDebris</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Debris__c</field>
            <value>
                <elementReference>BOPMowingDebris</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Drainage__c</field>
            <value>
                <elementReference>BOPMowingDrainage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Fence__c</field>
            <value>
                <elementReference>BOPMowingFence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Obstructions__c</field>
            <value>
                <elementReference>BOPMowingObstructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Site_Grounds__c</field>
            <value>
                <elementReference>BOPMowingGrounds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Trimmed__c</field>
            <value>
                <elementReference>BOPMowingTrimmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Vandalism__c</field>
            <value>
                <elementReference>BOPMowingVandalism</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Vegetation_After__c</field>
            <value>
                <elementReference>BOPMowingVegetationAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOP_Mowing_Vegetation_Height__c</field>
            <value>
                <elementReference>BOPMowingHeightBefore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Array_Mowing_Grounds__c</field>
            <value>
                <elementReference>SolarArrayGrounds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Array_Mowing_Height_After__c</field>
            <value>
                <elementReference>SolarArrayMowingVegHeightAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Array_Mowing_Height_Before__c</field>
            <value>
                <elementReference>SolarArrayMowingVegHeightBefore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Array_Mowing_Obstruction__c</field>
            <value>
                <elementReference>SolarArrayMowingObstructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Array_Mowing_Trimmed__c</field>
            <value>
                <elementReference>SolarArrayMowingTrimmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Array_Mowing_Veg_Debris__c</field>
            <value>
                <elementReference>SolarArrayMowingVegDebris</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Array_Mowing__c</field>
            <value>
                <elementReference>SolarArrayMowingRodentDebris</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>BOP_Mowing_Checklist</name>
        <label>BOP Mowing Checklist</label>
        <locationX>51</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail</targetReference>
        </connector>
        <fields>
            <name>BOPMowingFenceLabel</name>
            <fieldText>{!BOPFenceLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingFence</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_0</name>
        <label>BOP Mowing Checklist</label>
        <locationX>50</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0</targetReference>
        </connector>
        <fields>
            <name>BOPMowingGoundsLabel</name>
            <fieldText>{!BOPGroundsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingGrounds</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_0_0</name>
        <label>BOP Mowing Checklist</label>
        <locationX>54</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0</targetReference>
        </connector>
        <fields>
            <name>BOPMowingVandalismLabel_0</name>
            <fieldText>{!BOPVandalism}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingVandalism</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_1</name>
        <label>BOP Mowing Checklist</label>
        <locationX>57</locationX>
        <locationY>636</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BOP_Mowing_Vegetation_Height_Before_Photo</targetReference>
        </connector>
        <fields>
            <name>BOPMowingHeightBeforeLabel</name>
            <fieldText>Site vegetation height before the mow was complete.(attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingHeightBefore</name>
            <choiceReferences>HeightBefore</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_1_1</name>
        <label>BOP Mowing Checklist</label>
        <locationX>58</locationX>
        <locationY>803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0</targetReference>
        </connector>
        <fields>
            <name>BOPMowingobstructionsLabel</name>
            <fieldText>{!BOPObstructionsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingObstructions</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_1_1_1</name>
        <label>BOP Mowing Checklist</label>
        <locationX>58</locationX>
        <locationY>891</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BOP_Mowing_Vegetation_Height_After_Photo</targetReference>
        </connector>
        <fields>
            <name>BOPMowingVegetationAfterLabel</name>
            <fieldText>Site vegetation height after the mow was complete.(attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingVegetationAfter</name>
            <choiceReferences>BOPHeightAfter</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_1_1_1_1</name>
        <label>BOP Mowing Checklist</label>
        <locationX>52</locationX>
        <locationY>1060</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>BOPMowingtrimmedLabel</name>
            <fieldText>{!BOPTrimmedLabel}.(attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingTrimmed</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_1_1_1_1_1</name>
        <label>BOP Mowing Checklist</label>
        <locationX>44</locationX>
        <locationY>1236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>BOPMowingDebrisLabel</name>
            <fieldText>{!BOPDebrisLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingDebris</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_1_1_1_1_1_0</name>
        <label>BOP Mowing Checklist</label>
        <locationX>48</locationX>
        <locationY>1317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>BOPMowingDrainageLabel_0</name>
            <fieldText>{!BOPDrainage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingDrainage</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Checklist_1_1_1_1_1_0_0</name>
        <label>BOP Mowing Checklist</label>
        <locationX>42</locationX>
        <locationY>1413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>BOPMowingVegDebrisLabel_0_0</name>
            <fieldText>{!BOPVegDebrisLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BOPMowingVegDebris</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Fence_Photo</name>
        <label>BOP Mowing Fence Photo</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BOP_Mowing_Checklist_0</targetReference>
        </connector>
        <fields>
            <name>LaunchSharinPix</name>
            <fieldText>&lt;p&gt;{!SharinPixAppLauncher}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Trimmed_Photo</name>
        <label>BOP Mowing Trimmed Photo</label>
        <locationX>51</locationX>
        <locationY>1142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BOP_Mowing_Checklist_1_1_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixMT</name>
            <fieldText>&lt;p&gt;{!SharinPixAppLauncher}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Vegetation_Height_After_Photo</name>
        <label>BOP Mowing Vegetation Height After Photo</label>
        <locationX>57</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BOP_Mowing_Checklist_1_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixVHAfter</name>
            <fieldText>&lt;p&gt;{!SharinPixAppLauncher}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BOP_Mowing_Vegetation_Height_Before_Photo</name>
        <label>BOP Mowing Vegetation Height Before Photo</label>
        <locationX>57</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BOP_Mowing_Checklist_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixVHBefore</name>
            <fieldText>&lt;p&gt;{!SharinPixAppLauncher}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_Capture_Screen</name>
        <label>Additional Images</label>
        <locationX>974</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Checklist</targetReference>
        </connector>
        <fields>
            <name>SharinPixAI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Mowing_Grounds_Checklist</name>
        <label>Solar Array Mowing Grounds Checklist</label>
        <locationX>866</locationX>
        <locationY>831</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_1</targetReference>
        </connector>
        <fields>
            <name>SolarArrayGroundsLabel</name>
            <fieldText>{!SAGroundsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolarArrayGrounds</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Mowing_Grounds_Checklist_1</name>
        <label>Solar Array Mowing Grounds Checklist</label>
        <locationX>868</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Vegetation_Height_before_Photo</targetReference>
        </connector>
        <fields>
            <name>SolarArrayMowingVegHeightBeforeLabel</name>
            <fieldText>Site vegetation height before the mow was complete.(attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolarArrayMowingVegHeightBefore</name>
            <choiceReferences>SolarArrayHeightBeforePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Mowing_Grounds_Checklist_1_1</name>
        <label>Solar Array Mowing Grounds Checklist</label>
        <locationX>867</locationX>
        <locationY>1083</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>SolarArrayMowingObstructionsLabel</name>
            <fieldText>{!SAObstructionsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolarArrayMowingObstructions</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Mowing_Grounds_Checklist_1_1_1</name>
        <label>Solar Array Mowing Grounds Checklist</label>
        <locationX>869</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Vegetation_Height_After_Photo</targetReference>
        </connector>
        <fields>
            <name>SolarArrayMowingVegHeightAfterLabel</name>
            <fieldText>Site vegetation height after the mow was complete.(attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolarArrayMowingVegHeightAfter</name>
            <choiceReferences>SolarArrayVegHeightAferPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Mowing_Grounds_Checklist_1_1_1_1</name>
        <label>Solar Array Mowing Grounds Checklist</label>
        <locationX>877</locationX>
        <locationY>1354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SolarArrayMowingTrimmedLabel</name>
            <fieldText>{!SATrimmedLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolarArrayMowingTrimmed</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Mowing_Grounds_Checklist_1_1_1_1_1</name>
        <label>Solar Array Mowing Grounds Checklist</label>
        <locationX>883</locationX>
        <locationY>1530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_1_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SolarArrayMowingVegDebrisLabel</name>
            <fieldText>{!SAVegDebrisLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolarArrayMowingVegDebris</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Mowing_Grounds_Checklist_1_1_1_1_1_1</name>
        <label>Solar Array Mowing Grounds Checklist</label>
        <locationX>891</locationX>
        <locationY>1608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fail_0_0_0_1_1_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SolarArrayMowingRodentDebrisLabel_1</name>
            <fieldText>{!SARodentDebrisLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SolarArrayMowingRodentDebris</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Trimmed_Photo</name>
        <label>Solar Array Trimmed Photo</label>
        <locationX>883</locationX>
        <locationY>1439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1_1_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixSAT</name>
            <fieldText>&lt;p&gt;{!SharinPixAppLauncher}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Vegetation_Height_After_Photo</name>
        <label>Solar Array Vegetation Height After Photo</label>
        <locationX>874</locationX>
        <locationY>1261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixSAVH</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Vegetation_Height_before_Photo</name>
        <label>Solar Array Vegetation Height Before Photo</label>
        <locationX>870</locationX>
        <locationY>1000</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixSAVHBefore</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Checklist</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PendingWork</name>
        <label>PendingWork</label>
        <locationX>322</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>BOP_Mowing_Fence_Photo</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPFenceLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0</name>
        <label>PendingWork</label>
        <locationX>309</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>BOP_Mowing_Checklist_0_0</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPGroundsLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0</name>
        <label>PendingWork</label>
        <locationX>314</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>BOP_Mowing_Checklist_1</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPVandalism</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0</name>
        <label>PendingWork</label>
        <locationX>315</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>BOP_Mowing_Checklist_1_1_1</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPObstructionsLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>309</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>BOP_Mowing_Trimmed_Photo</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPTrimmedLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>304</locationX>
        <locationY>1240</locationY>
        <connector>
            <targetReference>BOP_Mowing_Checklist_1_1_1_1_1_0</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPDebrisLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>310</locationX>
        <locationY>1326</locationY>
        <connector>
            <targetReference>BOP_Mowing_Checklist_1_1_1_1_1_0_0</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPDrainage</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>302</locationX>
        <locationY>1414</locationY>
        <connector>
            <targetReference>Image_Capture_Screen</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>BOPVegDebrisLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>1125</locationX>
        <locationY>829</locationY>
        <connector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>SAGroundsLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>1135</locationX>
        <locationY>1089</locationY>
        <connector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1_1_1</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>SAObstructionsLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>1147</locationX>
        <locationY>1368</locationY>
        <connector>
            <targetReference>Solar_Array_Trimmed_Photo</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>SATrimmedLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>1136</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Solar_Array_Mowing_Grounds_Checklist_1_1_1_1_1_1</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>SAVegDebrisLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>1145</locationX>
        <locationY>1610</locationY>
        <connector>
            <targetReference>Image_Capture_Screen</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>SARodentDebrisLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SharinPixAppLauncher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;sharinpix://upload?token={!SharinPixToken}&amp;upload_id={!ChecklistId}&quot;&gt;Take Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SharinPixToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
