flows/Corrective_Switchgear.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <constants>
        <name>ClosedLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Switchgear is in the closed position and all indicator properly displaying.</stringValue>
        </value>
    </constants>
    <constants>
        <name>DamageLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Switchgear enclosure is free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SwitchgearLabel1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Document the Switchgear nameplate w/ manufacturer and serial number.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TerminationsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Switchgear terminations and cables shows no signs of physical, electrical, heat, or any other types of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ThermalLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thermal inspection of switchgear is free of anomalies.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pass_or_Fail</name>
        <label>Pass or Fail</label>
        <locationX>208</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>Update_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>switchgear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>switchgeardamage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Switchgearclosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>switchgearterminations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>switchgearthermalinspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <description>Pending Work</description>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Corrective Switchgear {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Corrective Switchgear</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>59</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Switchgear_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <object>Checklist__c</object>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SharinPixToken</assignToReference>
            <field>SharinPix_Token_Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist</name>
        <label>Update Checklist</label>
        <locationX>399</locationX>
        <locationY>1067</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Inclsdpositionandindicatorsdisplay__c</field>
            <value>
                <elementReference>Switchgearclosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loadsidevoltagereading__c</field>
            <value>
                <elementReference>switchgearvoltage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nopaintcorrodamage__c</field>
            <value>
                <elementReference>switchgeardamage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termscablesnosignofdamage__c</field>
            <value>
                <elementReference>switchgearterminations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thermalinspectnoanomallies__c</field>
            <value>
                <elementReference>switchgearthermalinspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>manufacturerserialno__c</field>
            <value>
                <elementReference>switchgear</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Switchgear_Checklist</name>
        <label>Switchgear Checklist</label>
        <locationX>58</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Switchgear_Nameplate_Photo</targetReference>
        </connector>
        <fields>
            <name>SwitchGearCL</name>
            <fieldText>Switchgear Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgearlabel</name>
            <fieldText>{!SwitchgearLabel1} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgear</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switchgear_Checklist_0</name>
        <label>Switchgear Checklist</label>
        <locationX>60</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Switchgear_Checklist_0_0</targetReference>
        </connector>
        <fields>
            <name>SwitchGearCL_0</name>
            <fieldText>Switchgear Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgeardanagelabel</name>
            <fieldText>{!DamageLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgeardamage</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switchgear_Checklist_0_0</name>
        <label>Switchgear Checklist</label>
        <locationX>59</locationX>
        <locationY>731</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Switchgear_Closed_Photo</targetReference>
        </connector>
        <fields>
            <name>SwitchGearCL_0_0</name>
            <fieldText>Switchgear Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Switchgearclosedlabel</name>
            <fieldText>{!ClosedLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Switchgearclosed</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switchgear_Checklist_0_0_0</name>
        <label>Switchgear Checklist</label>
        <locationX>85</locationX>
        <locationY>892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Switchgear_Checklist_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SwitchGearCL_0_0_0</name>
            <fieldText>Switchgear Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgearterminationslabel</name>
            <fieldText>{!TerminationsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgearterminations</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>switchgearvoltagelabel</name>
            <fieldText>Load side voltage reading.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgearvoltage</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switchgear_Checklist_0_0_0_0</name>
        <label>Switchgear Checklist</label>
        <locationX>85</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Switchgear_Thermal_Inspection_Photo</targetReference>
        </connector>
        <fields>
            <name>SwitchGearCL_0_0_0_0</name>
            <fieldText>Switchgear Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgearthermalinspectionlabel</name>
            <fieldText>{!ThermalLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>switchgearthermalinspection</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switchgear_Closed_Photo</name>
        <label>Switchgear Closed Photo</label>
        <locationX>75</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Switchgear_Checklist_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SharinPixSGClosed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switchgear_Nameplate_Photo</name>
        <label>Switchgear Nameplate Photo</label>
        <locationX>59</locationX>
        <locationY>565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Switchgear_Checklist_0</targetReference>
        </connector>
        <fields>
            <name>SharinPixSGNameplate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Switchgear_Thermal_Inspection_Photo</name>
        <label>Switchgear Thermal Inspection Photo</label>
        <locationX>87</locationX>
        <locationY>1061</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_or_Fail</targetReference>
        </connector>
        <fields>
            <name>SharinPixSGThermal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Checklist</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PendingWork_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>406</locationX>
        <locationY>957</locationY>
        <connector>
            <targetReference>Update_Checklist</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>WoliId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SharinPixAppLauncher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;sharinpix://upload?token={!SharinPixToken}&amp;upload_id={!ChecklistId}&quot;&gt;Take Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SharinPixToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
