flows/CreateWO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Clear_Previously_Selected_Items</name>
        <label>Clear Previously Selected Items</label>
        <locationX>1271</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>SelectedAssetId.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Assets_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Records_to_Create</name>
        <label>Records to Create</label>
        <locationX>933</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>WOLIIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WO</name>
        <label>Set WO</label>
        <locationX>819</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>WOLI.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAssetId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoSelection</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>SAYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>YesorNoSelection</elementReference>
        </value>
    </choices>
    <choices>
        <name>YesorNoSelection</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>No1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </constants>
    <constants>
        <name>No12</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Additional_Assets</name>
        <label>Add Additional Assets?</label>
        <locationX>925</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Create_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_more_assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesorNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Previously_Selected_Items</targetReference>
            </connector>
            <label>Add more assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Assets_Required</name>
        <label>Are Assets Required?</label>
        <locationX>1104</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>CreateWOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssetCheckbox_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Information</targetReference>
            </connector>
            <label>AssetCheckbox Checked Borrego Warranty</label>
        </rules>
        <rules>
            <name>AssetCheckbox_Checked_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Information</targetReference>
            </connector>
            <label>AssetCheckbox Checked Inspection</label>
        </rules>
        <rules>
            <name>AssetCheckbox_Checked_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Information</targetReference>
            </connector>
            <label>AssetCheckbox Checked Maintenance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Assets</name>
        <label>Are there Assets?</label>
        <locationX>499</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Select_Asset_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Assets_Are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>There_are_no_assets</targetReference>
            </connector>
            <label>Assets Are Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include</name>
        <label>Include?</label>
        <locationX>654</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>FindAssets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_as_a_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAssetsOutput</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SelectedAssetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_WO</targetReference>
            </connector>
            <label>Add as a WOLI?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Needed</name>
        <label>Multiple Needed</label>
        <locationX>2250</locationX>
        <locationY>781</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA_Info</targetReference>
            </connector>
            <label>Multiple is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Duration_Decision</name>
        <label>Update Duration?</label>
        <locationX>1579</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>Add_case_to_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Duration_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DurationYesorNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Length</targetReference>
            </connector>
            <label>Update Duration</label>
        </rules>
    </decisions>
    <description>Change asset selection</description>
    <dynamicChoiceSets>
        <name>AssetsDisplay</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Add_to_WO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Component_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetTypeSelection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>SelectedAssetId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Component_Type__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DurationTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DurationType</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QualifiedAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Add_to_WO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Component_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetTypeSelection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>SelectedAssetId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CreateWO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateWOv7</label>
    <loops>
        <name>FindAssets</name>
        <label>FindAssets</label>
        <locationX>498</locationX>
        <locationY>438</locationY>
        <assignNextValueToReference>SelectedAssetId</assignNextValueToReference>
        <collectionReference>SelectedAssetsOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Include</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Wold_you_like_to_add_additional_assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>2000</locationX>
        <locationY>918</locationY>
        <inputReference>ServiceAppointment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLIs</name>
        <label>Create WOLIs</label>
        <locationX>1190</locationX>
        <locationY>811</locationY>
        <connector>
            <targetReference>Update_Assets_after_WOLIs_created</targetReference>
        </connector>
        <inputReference>WOLIIds</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>839</locationX>
        <locationY>32</locationY>
        <assignRecordIdToReference>WorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Work_Order_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Type__c</field>
            <value>
                <elementReference>MaintenanceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWOLI</name>
        <label>CreateWOLI</label>
        <locationX>1188</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>Update_Duration</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_WO</name>
        <label>Delete WO</label>
        <locationX>180</locationX>
        <locationY>267</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Information</name>
        <label>Get Asset Information</label>
        <locationX>667</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetList</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_with_Asset_Type</name>
        <label>Get Assets with Asset Type</label>
        <locationX>179</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Add_to_WO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Asset_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Component_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetTypeSelection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>NewAssetCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Component_Type__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>448</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Branch</assignToReference>
            <field>Branch__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>CaseRecordTypeName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MaintenanceType</assignToReference>
            <field>Maintenance_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Priority</assignToReference>
            <field>Priority</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractId</assignToReference>
            <field>ServiceContract_Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>WorkType__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Info</name>
        <label>Get Project Info</label>
        <locationX>575</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>AcctSeed__Project__c</object>
        <outputAssignments>
            <assignToReference>Address</assignToReference>
            <field>Site_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>City</assignToReference>
            <field>Site_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>state</assignToReference>
            <field>Site_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Zip</assignToReference>
            <field>Site_Zip__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Info</name>
        <label>Get SA Info</label>
        <locationX>2161</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>DueDate</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>EarliestStartTime</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>ProjectID__c</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>716</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Branch</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>ServiceTerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType_Info</name>
        <label>Get WorkType Info</label>
        <locationX>1114</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Assets_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>AssetCheckbox</assignToReference>
            <field>Assets_Required__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeDurationType</assignToReference>
            <field>DurationType</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeEstimatedDuration</assignToReference>
            <field>EstimatedDuration</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_case_to_SA</name>
        <label>Add case to SA</label>
        <locationX>1839</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>Multiple_techs_needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>933</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Records_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedAssetId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_to_WO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assets_after_WOLIs_created</name>
        <label>Update Assets after WOLIs created</label>
        <locationX>1344</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_Duration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_to_WO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_to_WO__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1847</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>1990</locationX>
        <locationY>787</locationY>
        <connector>
            <targetReference>Multiple_techs_needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>DurationType</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Appointment_Length</name>
        <label>Appointment Length</label>
        <locationX>1728</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>DurationLabel</name>
            <fieldText>What is the estimated duration of the appointment?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duration</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DurationType</name>
            <choiceReferences>DurationTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Duration Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_techs_needed</name>
        <label>Multiple techs needed?</label>
        <locationX>2118</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Multiple_Needed</targetReference>
        </connector>
        <fields>
            <name>Are_multiple_techs_needed_for_the_job</name>
            <choiceReferences>SAYes</choiceReferences>
            <choiceReferences>NoSelection</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are multiple techs needed for the job?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Asset_Type</name>
        <label>Select Asset Type</label>
        <locationX>350</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Assets_with_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>AssetTypeSelection</name>
            <choiceReferences>AssetType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Asset Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Assets</name>
        <label>Show Assets</label>
        <locationX>347</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindAssets</targetReference>
        </connector>
        <fields>
            <name>selectassets</name>
            <fieldText>&lt;p&gt;Please select assets:&lt;/p&gt;&lt;p&gt;*For lengthy results, scroll to the bottom of the list for buttons&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssetSearchFinder</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard2</name>
                <value>
                    <elementReference>NewAssetCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Asset Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Component_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Asset Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displaySearchbar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>SerialNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Serial Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAssetsOutput</assignToReference>
                <name>selectedRows_standard2</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>There_are_no_assets</name>
        <label>There are no assets</label>
        <locationX>350</locationX>
        <locationY>214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_WO</targetReference>
        </connector>
        <fields>
            <name>NoAssets</name>
            <fieldText>There are currently no assets associated to this account and project. Please associate assets before attempting to create a work order.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Duration</name>
        <label>Update Duration?</label>
        <locationX>1476</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Duration_Decision</targetReference>
        </connector>
        <fields>
            <name>UpdateDuration</name>
            <fieldText>Would you like to update the duration of the Service Appointment?


Duration: {!WorkTypeEstimatedDuration}
Duration Type: {!WorkTypeDurationType}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DurationYesorNo</name>
            <choiceReferences>YesorNoSelection</choiceReferences>
            <choiceReferences>NoSelection</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wold_you_like_to_add_additional_assets</name>
        <label>Wold you like to add additional assets?</label>
        <locationX>503</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Additional_Assets</targetReference>
        </connector>
        <fields>
            <name>More</name>
            <fieldText>Would you like to add additional assets?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesorNo</name>
            <choiceReferences>YesorNoSelection</choiceReferences>
            <choiceReferences>NoSelection</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Created</name>
        <label>Work Order Created!</label>
        <locationX>979</locationX>
        <locationY>142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_WorkType_Info</targetReference>
        </connector>
        <fields>
            <name>WorkOrdercreated</name>
            <fieldText>A work order has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Branch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MaintenanceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReactiveType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAssetId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>SelectedAssets</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedAssetsOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>SelectedId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Value1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLIIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeDurationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeEstimatedDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypePicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
