flows/Create_Shipment_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>ShippingProvider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider</picklistField>
        <picklistObject>Shipment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Shipment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Shipment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Shipment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Shipment_Record</name>
        <label>Create Shipment Record</label>
        <locationX>607</locationX>
        <locationY>48</locationY>
        <assignRecordIdToReference>ShipmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Product_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>DestinationLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedDeliveryDate</field>
            <value>
                <elementReference>Expected_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider</field>
            <value>
                <elementReference>ShippingProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromCity</field>
            <value>
                <elementReference>SourceCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromPostalCode</field>
            <value>
                <elementReference>SourceZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromState</field>
            <value>
                <elementReference>SourceState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipFromStreet</field>
            <value>
                <elementReference>SourceStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>DestinationCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToName</field>
            <value>
                <elementReference>Ship_to_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>DestinationZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToState</field>
            <value>
                <elementReference>DestinationState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>DestinationStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>SourceLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>ShipmentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackingNumber</field>
            <value>
                <elementReference>Tracking_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Transfer</name>
        <label>Get Product Transfer</label>
        <locationX>147</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSourceAddressInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProductTransfer</object>
        <outputAssignments>
            <assignToReference>DestinationLocationId</assignToReference>
            <field>DestinationLocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceLocationId</assignToReference>
            <field>SourceLocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDestinationAddress</name>
        <label>GetDestinationAddress</label>
        <locationX>371</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinationLocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>DestinationCity</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DestinationState</assignToReference>
            <field>State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DestinationStreet</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DestinationZip</assignToReference>
            <field>Zip__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSourceAddressInformation</name>
        <label>GetSourceAddressInformation</label>
        <locationX>264</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDestinationAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceLocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>SourceCity</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceState</assignToReference>
            <field>State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceStreet</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceZip</assignToReference>
            <field>Zip__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Transfer</name>
        <label>Update Product Transfer</label>
        <locationX>752</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShipmentId</field>
            <value>
                <elementReference>ShipmentId</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <screens>
        <name>Create_Shipment</name>
        <label>Create Shipment</label>
        <locationX>490</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Shipment_Record</targetReference>
        </connector>
        <fields>
            <name>Ship_to_Name</name>
            <dataType>String</dataType>
            <fieldText>Ship to Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Provider</name>
            <choiceReferences>ShippingProvider</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shipping Provider</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tracking_Number</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ShipmentStatus</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Product_Transfer</startElementReference>
    <status>Active</status>
    <variables>
        <name>DestinationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DestinationLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DestinationState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DestinationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DestinationZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShipmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SourceCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SourceLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SourceState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SourceStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SourceZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
