flows/Finance_Request_Update_Opportunity_Fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>ESSACorDC_text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Opportunity.ESSACorDC__c})</expression>
    </formulas>
    <interviewLabel>Finance Request Update Opportunity Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finance Request Update Opportunity Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>59</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateFinanceRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFinanceRequest</name>
        <label>UpdateFinanceRequest</label>
        <locationX>238</locationX>
        <locationY>245</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinanceRequest</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EPC_DCOGs_Stamp__c</field>
            <value>
                <elementReference>Opportunity.EPCCOGs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESS_AC_or_DC_Stamp__c</field>
            <value>
                <elementReference>ESSACorDC_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_IX_Dev_Expenses_Stamp__c</field>
            <value>
                <elementReference>Opportunity.NonIXDevCOGs2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Energy_kWh_Stamp__c</field>
            <value>
                <elementReference>Opportunity.ESS_Energy_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Power_kW_from_Oppty_Stamp__c</field>
            <value>
                <elementReference>Opportunity.ESS_Power_kW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Size_AC_watts_Stamp__c</field>
            <value>
                <elementReference>Opportunity.System_Size_AC_w__c</elementReference>
            </value>
        </inputAssignments>
        <object>Finance_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinanceRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
