flows/FSL_App_Technician_Purchased_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignPRLIFields</name>
        <label>AssignPRLIFields</label>
        <locationX>1249</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>varPRLILoop.Purchased_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPRLILoop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPRLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPRLIs</name>
        <label>AssignPRLIs</label>
        <locationX>1251</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>PRLIforUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPRLILoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PRLILoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FieldPurchase</name>
        <label>FieldPurchase?</label>
        <locationX>292</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Field_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Field Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotFieldPurchaseScreen</targetReference>
            </connector>
            <label>Not Field Purchase</label>
        </rules>
        <rules>
            <name>Field_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProductRequestRecord</targetReference>
            </connector>
            <label>Field Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRLIstoUpdate</name>
        <label>PRLIstoUpdate?</label>
        <locationX>764</locationX>
        <locationY>57</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPRLIRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRLILoop</targetReference>
            </connector>
            <label>PRLIs</label>
        </rules>
        <rules>
            <name>NoPRLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPRLIRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoPRLIsScreen</targetReference>
            </connector>
            <label>NoPRLIs</label>
        </rules>
    </decisions>
    <interviewLabel>FSL App - Technician Purchased Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL App - Technician Purchased Items</label>
    <loops>
        <name>PRLILoop</name>
        <label>PRLILoop</label>
        <locationX>958</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>varPRLILoop</assignNextValueToReference>
        <collectionReference>GetPRLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPRLIFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePRLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetPRLIRecords</name>
        <label>GetPRLIRecords</label>
        <locationX>619</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRLIstoUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRequestID</elementReference>
            </value>
        </filters>
        <object>ProductRequestLineItem</object>
        <outputReference>GetPRLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Purchased_Items__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProductRequestDetails</name>
        <label>GetProductRequestDetails</label>
        <locationX>163</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FieldPurchase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ProductRequest</object>
        <outputAssignments>
            <assignToReference>ProductRequestID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePRLIs</name>
        <label>UpdatePRLIs</label>
        <locationX>960</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>PRLIsUpdatedScreen</targetReference>
        </connector>
        <inputReference>PRLIforUpdates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProductRequestRecord</name>
        <label>UpdateProductRequestRecord</label>
        <locationX>496</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>GetPRLIRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <screens>
        <name>NoPRLIsScreen</name>
        <label>NoPRLIsScreen</label>
        <locationX>772</locationX>
        <locationY>237</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoPRLIsText</name>
            <fieldText>&lt;p&gt;No Field Purchase items required updating. No items were added to your Inventory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotFieldPurchaseScreen</name>
        <label>NotFieldPurchaseScreen</label>
        <locationX>296</locationX>
        <locationY>260</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotFieldPurchaseText</name>
            <fieldText>&lt;p&gt;No Action Occurred. This is not a Field Purchase Request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PRLIsUpdatedScreen</name>
        <label>PRLIsUpdatedScreen</label>
        <locationX>960</locationX>
        <locationY>388</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PRLIsUpdatedText</name>
            <fieldText>&lt;p&gt;Field Purchase items have been added to your Inventory. This Field Purchase request has been completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetProductRequestDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>GetPRLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRLIforUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
    <variables>
        <name>ProductRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPRLILoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequestLineItem</objectType>
    </variables>
</Flow>
