flows/FSL_Received_Transfers_on_Location.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Received_More</name>
        <label>Received More?</label>
        <locationX>629</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Transfers_Updated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Received_More_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Transfer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProductTransfers</name>
        <dataType>String</dataType>
        <displayField>Select_Transfer__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DestinationLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinationLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ProductTransfer</object>
        <outputAssignments>
            <assignToReference>ProductTransferId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Select_Transfer__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Select_Transfer__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>FSL Received Transfers on Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Received Transfers on Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetLocationDetails</name>
        <label>GetLocationDetails</label>
        <locationX>233</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPTRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>DestinationLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>Service_Resource_User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPTRecords</name>
        <label>GetPTRecords</label>
        <locationX>440</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DestinationLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinationLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ProductTransfer</object>
        <outputReference>GetPTs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>QuantityReceived</queriedFields>
        <queriedFields>ReceivedById</queriedFields>
        <queriedFields>IsReceived</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Transfer_Details</name>
        <label>Update Product Transfer Details</label>
        <locationX>881</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Received_More_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductTransferId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>Quantity_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceivedById</field>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <screens>
        <name>Received_More_Screen</name>
        <label>Received More Screen</label>
        <locationX>882</locationX>
        <locationY>329</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Received_More</targetReference>
        </connector>
        <fields>
            <name>Received_More_Products</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Received More Products?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Transfer</name>
        <label>Select Transfer</label>
        <locationX>636</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Product_Transfer_Details</targetReference>
        </connector>
        <fields>
            <name>SelectTransferText</name>
            <fieldText>&lt;p&gt;Select Product Transfer Received:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Transfer</name>
            <choiceReferences>ProductTransfers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Transfer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_Received</name>
            <dataType>Number</dataType>
            <fieldText>Quantity Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Transfers_Updated_Screen</name>
        <label>Transfers Updated Screen</label>
        <locationX>419</locationX>
        <locationY>331</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TransfersUpdatedText</name>
            <fieldText>&lt;p&gt;Product Transfers Updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetLocationDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>DestinationLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetPTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductTransferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
