flows/FSL_App_Inventory_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>ACDisconnects</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;AC Disconnects&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AC Disconnects</stringValue>
        </value>
    </choices>
    <choices>
        <name>CircuitBreakers</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Circuit Breakers&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Circuit Breakers</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAS</name>
        <choiceText>DAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>FieldPurchase</name>
        <choiceText>Field Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Field Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fuses</name>
        <choiceText>Fuses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fuses</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>Tools/Consumables</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>GeneralHardware</name>
        <choiceText>General Hardware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Hardware</stringValue>
        </value>
    </choices>
    <choices>
        <description>Central Inverter Air Filter for Part Type Picklist</description>
        <name>Inverter_Central_Air_Filters</name>
        <choiceText>Central Inverter Air Filter for Part Type Picklist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inverter Central - Air Filters</stringValue>
        </value>
    </choices>
    <choices>
        <name>InverterCentral</name>
        <choiceText>Inverter - Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inverter - Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>InverterCentral_ElectronicPartsPCBs</name>
        <choiceText>InverterCentral_ElectronicPartsPCBs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inverter Central - Electronic Parts/PCBs</stringValue>
        </value>
    </choices>
    <choices>
        <name>InverterCentralFuses</name>
        <choiceText>InverterCentralFuses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inverter Central - Fuses</stringValue>
        </value>
    </choices>
    <choices>
        <name>InverterCentralOtherParts</name>
        <choiceText>InverterCentralOtherParts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inverter Central - Other Parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>InverterString</name>
        <choiceText>Inverter - String</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inverter - String</stringValue>
        </value>
    </choices>
    <choices>
        <name>Landscaping</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tools/Consumables&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landscaping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modules</name>
        <choiceText>Modules</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modules</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modules200W300W</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Modules 200W-300W&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modules 200W-300W</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModulesOver300W</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Modules &amp;gt;300W&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modules &gt;300W</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModulesUnder200w</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Modules &amp;lt;200W&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modules &lt;200W</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PPE</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tools/Consumables&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PPE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requesting</name>
        <choiceText>Requesting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ad-Hoc</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracker</name>
        <choiceText>Tracker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracker</stringValue>
        </value>
    </choices>
    <choices>
        <name>TruckSafety</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tools/Consumables&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Truck Safety</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wire</name>
        <choiceText>Wire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_another_Product_decision</name>
        <label>Add another Product decision</label>
        <locationX>624</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>Shipping_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectProductType</targetReference>
            </connector>
            <label>Yes Another</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Request_Header_Created</name>
        <label>Product Request Header Created?</label>
        <locationX>418</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRequestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PRLI</targetReference>
            </connector>
            <label>Yes - Created</label>
        </rules>
        <rules>
            <name>Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductRequestID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProductRequest</targetReference>
            </connector>
            <label>Not Created</label>
        </rules>
    </decisions>
    <description>New Product types</description>
    <dynamicChoiceSets>
        <name>Products</name>
        <dataType>String</dataType>
        <displayField>Select_Product__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Labor and Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Product_Name_Keyword</elementReference>
            </value>
        </filters>
        <filters>
            <field>Part_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Part_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5- O&amp;M In Use</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Product2Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Select_Product__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FlowUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSL App Inventory Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL App Inventory Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_PRLI</name>
        <label>Create PRLI</label>
        <locationX>177</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Add_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Submission__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ProductRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Cost__c</field>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequested</field>
            <value>
                <elementReference>Quantity_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In-Process</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>CreateProductRequest</name>
        <label>CreateProductRequest</label>
        <locationX>177</locationX>
        <locationY>203</locationY>
        <assignRecordIdToReference>ProductRequestID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PRLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Location__c</field>
            <value>
                <elementReference>Purchase_Location_Field_Purchases_Only</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProductRequestRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordCreates>
    <recordLookups>
        <name>GetProductRequestRTId</name>
        <label>GetProductRequestRTId</label>
        <locationX>763</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectProductType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ad_Hoc_Field_Purchase</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductRequest</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ProductRequestRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetServiceResourceDetails</name>
        <label>GetServiceResourceDetails</label>
        <locationX>545</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductRequestRTId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>City</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>State</assignToReference>
            <field>State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Street</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Zip</assignToReference>
            <field>Zip__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePRShipping</name>
        <label>UpdatePRShipping</label>
        <locationX>1055</locationX>
        <locationY>636</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rush__c</field>
            <value>
                <elementReference>Rush</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>Shipping_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToState</field>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <screens>
        <name>Add_Products</name>
        <label>Add Products</label>
        <locationX>462</locationX>
        <locationY>465</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_another_Product_decision</targetReference>
        </connector>
        <fields>
            <name>Add_another_Product</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add another Product?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Request</name>
        <label>Inventory Request</label>
        <locationX>358</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetServiceResourceDetails</targetReference>
        </connector>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Requesting</choiceReferences>
            <choiceReferences>FieldPurchase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purchase_Location_Field_Purchases_Only</name>
            <dataType>String</dataType>
            <fieldText>Purchase Location (Field Purchases Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Comments</name>
            <fieldText>Request Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Product2</name>
        <label>Select Product2</label>
        <locationX>613</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Request_Header_Created</targetReference>
        </connector>
        <fields>
            <name>SelectProductText</name>
            <fieldText>&lt;p&gt;Select Product to add to this Request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product</name>
            <choiceReferences>Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_Requested</name>
            <dataType>Number</dataType>
            <fieldText>Quantity Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Cost (Field Purchase Only)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectProductType</name>
        <label>Select Product Type</label>
        <locationX>763</locationX>
        <locationY>304</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Product2</targetReference>
        </connector>
        <fields>
            <name>SelectProduct</name>
            <fieldText>&lt;p&gt;Select Product Type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Part_Type</name>
            <choiceReferences>DAS</choiceReferences>
            <choiceReferences>GeneralHardware</choiceReferences>
            <choiceReferences>Tracker</choiceReferences>
            <choiceReferences>Wire</choiceReferences>
            <choiceReferences>InverterCentral</choiceReferences>
            <choiceReferences>InverterString</choiceReferences>
            <choiceReferences>General</choiceReferences>
            <choiceReferences>Inverter_Central_Air_Filters</choiceReferences>
            <choiceReferences>InverterCentral_ElectronicPartsPCBs</choiceReferences>
            <choiceReferences>InverterCentralOtherParts</choiceReferences>
            <choiceReferences>Fuses</choiceReferences>
            <choiceReferences>CircuitBreakers</choiceReferences>
            <choiceReferences>ACDisconnects</choiceReferences>
            <choiceReferences>ModulesUnder200w</choiceReferences>
            <choiceReferences>Modules200W300W</choiceReferences>
            <choiceReferences>ModulesOver300W</choiceReferences>
            <choiceReferences>PPE</choiceReferences>
            <choiceReferences>TruckSafety</choiceReferences>
            <choiceReferences>Landscaping</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KeywordDescription</name>
            <fieldText>&lt;p&gt;Enter a portion of the product name to help refine your search.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Name_Keyword</name>
            <dataType>String</dataType>
            <fieldText>Product Name Keyword</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Shipping_Information</name>
        <label>Shipping Information</label>
        <locationX>886</locationX>
        <locationY>572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatePRShipping</targetReference>
        </connector>
        <fields>
            <name>Shipping_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street</elementReference>
            </defaultValue>
            <fieldText>Shipping Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>City</elementReference>
            </defaultValue>
            <fieldText>Shipping City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>State</elementReference>
            </defaultValue>
            <fieldText>Shipping State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Zip</elementReference>
            </defaultValue>
            <fieldText>Shipping Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Shipping Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rush</name>
            <dataType>Boolean</dataType>
            <fieldText>Rush</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Inventory_Request</startElementReference>
    <status>Active</status>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductRequestRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuantityRequested</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
