flows/FSL_Inventory_Count.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Add_to_Inventory1</name>
        <label>Add to Inventory</label>
        <locationX>346</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Item_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_to_Inventory12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductId_Lookup</targetReference>
            </connector>
            <label>Add Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Quantity_Match</name>
        <label>Does Quantity Match</label>
        <locationX>240</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Would_you_like_to_update_quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Quantity_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuantityOnHand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_Exists</targetReference>
            </connector>
            <label>Quantity Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_in_Inventory</name>
        <label>Exists in Inventory?</label>
        <locationX>66</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Add_to_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Quantity_Match</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Quantity</name>
        <label>Update Quantity</label>
        <locationX>252</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Item_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_the_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuantityUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quantity_ProductItem</targetReference>
            </connector>
            <label>Update the Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes1</name>
        <label>Yes</label>
        <locationX>613</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Answer_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_check_another_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scan_Asset</targetReference>
            </connector>
            <label>Answer is Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserId1</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSL Inventory Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Inventory Count</label>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Add_Product_Item</name>
        <label>Add Product Item</label>
        <locationX>790</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>Item_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Resource_Id</name>
        <label>Get Service Resource Id and Location Id</label>
        <locationX>58</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scan_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProductItem</name>
        <label>GetProductItem</label>
        <locationX>64</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists_in_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_Scan_the_Item</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>ProductItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuantityOnHand</assignToReference>
            <field>QuantityOnHand</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ProductId_Lookup</name>
        <label>ProductId Lookup</label>
        <locationX>562</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Product_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_Scan_the_Item</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>ProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quantity_ProductItem</name>
        <label>Update Quantity</label>
        <locationX>256</locationX>
        <locationY>649</locationY>
        <connector>
            <targetReference>Item_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <screens>
        <name>Add_to_Inventory</name>
        <label>Add to Inventory?</label>
        <locationX>25</locationX>
        <locationY>732</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_to_Inventory1</targetReference>
        </connector>
        <fields>
            <name>AddtoInventory</name>
            <fieldText>Add to inventory?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_to_Inventory12</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Add to Inventory?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Item_Exists</name>
        <label>Check another product?</label>
        <locationX>464</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Yes1</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_check_another_product</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like check another product?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scan_Asset</name>
        <label>Scan Asset</label>
        <locationX>59</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetProductItem</targetReference>
        </connector>
        <fields>
            <name>Please_Scan_the_Item</name>
            <dataType>String</dataType>
            <fieldText>Please Scan the Item</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Would_you_like_to_update_quantity</name>
        <label>Would you like to update quantity?</label>
        <locationX>245</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Quantity</targetReference>
        </connector>
        <fields>
            <name>QuantityUpdate</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Would you like to update the quantity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Service_Resource_Id</startElementReference>
    <status>Active</status>
    <variables>
        <name>GetLocationProductItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuantityOnHand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
