flows/Location_Vendor_Inbound_Transfer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>LocationAddress</name>
        <choiceText>Location Address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Location Address</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Transfer</name>
        <label>Add Transfer</label>
        <locationX>717</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_Transfer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateTransfer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Location Vendor Inbound Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Vendor Inbound Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Transfer</name>
        <label>Create Product Transfer</label>
        <locationX>667</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>Add_Transfers</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>DestinationLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedPickupDate</field>
            <value>
                <elementReference>Expected_Pickup_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>Quantity_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProductTransferRTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>Ship_To_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email__c</field>
            <value>
                <elementReference>ServiceResourceEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_State__c</field>
            <value>
                <elementReference>Ship_To_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street__c</field>
            <value>
                <elementReference>Ship_To_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Zip__c</field>
            <value>
                <elementReference>Ship_To_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To__c</field>
            <value>
                <elementReference>Ship_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Company__c</field>
            <value>
                <elementReference>Shipping_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_Transfer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Number__c</field>
            <value>
                <elementReference>Tracking_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_URL__c</field>
            <value>
                <elementReference>TrackingURLText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_PO_Line__c</field>
            <value>
                <elementReference>VendorPOLineID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>VendorId</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetLocationDetails</name>
        <label>GetLocationDetails</label>
        <locationX>211</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductTransferRTId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>DestinationLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceResourceEmail</assignToReference>
            <field>Service_Resource_Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProductTransferRTId</name>
        <label>GetProductTransferRTId</label>
        <locationX>354</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTransfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Inbound_Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductTransfer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ProductTransferRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Transfers</name>
        <label>Add Transfers</label>
        <locationX>849</locationX>
        <locationY>84</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Transfer</targetReference>
        </connector>
        <fields>
            <name>Create_another_Transfer</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create another Transfer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>724</locationX>
        <locationY>468</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmCreated</name>
            <fieldText>&lt;p&gt;Product Transfers Created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateTransfer</name>
        <label>CreateTransfer</label>
        <locationX>508</locationX>
        <locationY>73</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Transfer</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vendor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VendorId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Product2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Product2Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Vendor_PO_Line</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Vendor_PO_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vendor PO Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VendorPOLineID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Quantity_Sent</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ship_To</name>
            <choiceReferences>LocationAddress</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>LocationAddress</defaultSelectedChoiceReference>
            <fieldText>Ship To</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If Other, provide Address below&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ship_To_Street</name>
            <dataType>String</dataType>
            <fieldText>Ship To Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ship_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ship_To_City</name>
            <dataType>String</dataType>
            <fieldText>Ship To City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ship_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ship_To_State</name>
            <dataType>String</dataType>
            <fieldText>Ship To State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ship_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ship_To_Zip</name>
            <dataType>String</dataType>
            <fieldText>Ship To Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ship_To</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expected_Pickup_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Pickup Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Company</name>
            <dataType>String</dataType>
            <fieldText>Shipping Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tracking_Number</name>
            <dataType>String</dataType>
            <fieldText>Tracking Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TrackingURL</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tracking URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>http://www.salesforce.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TrackingURLText</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetLocationDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DestinationLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Product2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductTransferRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrackingURLText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VendorPOLineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
