flows/Primary_PM_Transformer_FSL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <constants>
        <name>TransformerCablesLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All cables show no signs of insulation degradation,  stress, heat, or any other damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransformerCleanedLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transformer pad cleaned and free of cracks, erosion, or any other type of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransformerDebrisLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transformer is free of debris, rodent nest, insect infestation, or any other unwanted materials</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransformerDocLabel1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Document the Transformer nameplate w/ manufacturer and serial number.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransformerPaintLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The Transformer is free of paint damage, corrosion, or any other physical damage</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransformerSafetyLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All safety and warning placards are in place and legible</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransformerTempLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transformer oil temperature gauge reading.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TransformerThermalLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thermal inspection of Transformer is free of thermal anomalies</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pass_or_Fail</name>
        <label>Pass or Fail</label>
        <locationX>604</locationX>
        <locationY>1281</locationY>
        <defaultConnector>
            <targetReference>Update_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TransformerDoc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransformerPaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransformerCleaned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransformerCables</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransformerThermal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransformerDebrisFree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransformerSafety</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <description>Pending Work</description>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Primary PM Transformer FSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Primary PM Transformer FSL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>297</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transformer_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <object>Checklist__c</object>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SharinPixToken</assignToReference>
            <field>SharinPix_Token_Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist</name>
        <label>Update Checklist</label>
        <locationX>933</locationX>
        <locationY>1345</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Docmanufacturerserial__c</field>
            <value>
                <elementReference>TransformerDoc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nodebrisrodentinsectdebrisetc__c</field>
            <value>
                <elementReference>TransformerDebrisFree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nodegradestressheatdamage__c</field>
            <value>
                <elementReference>TransformerCables</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nopaintcorrodamage__c</field>
            <value>
                <elementReference>TransformerPaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oiltemperaturegaugereading__c</field>
            <value>
                <elementReference>TransformerTemp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Padnocrackserosionodamage__c</field>
            <value>
                <elementReference>TransformerCleaned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SafetyWarningPlacardslegible__c</field>
            <value>
                <elementReference>TransformerSafety</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thermalinspectnoanomallies__c</field>
            <value>
                <elementReference>TransformerThermal</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Image_Capture_Screen</name>
        <label>Additional Images</label>
        <locationX>410</locationX>
        <locationY>1338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_or_Fail</targetReference>
        </connector>
        <fields>
            <name>SharinPixTranAI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist</name>
        <label>Transformer Checklist</label>
        <locationX>180</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Nameplate_Photo_4_5</targetReference>
        </connector>
        <fields>
            <name>TransformerCL</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerDocLabel</name>
            <fieldText>(attach pictures){!TransformerDocLabel1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerDoc</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist_5</name>
        <label>Transformer Checklist</label>
        <locationX>219</locationX>
        <locationY>575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Checklist_5_0</targetReference>
        </connector>
        <fields>
            <name>TransformerCL_5</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerPaintLabel_5</name>
            <fieldText>{!TransformerPaintLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerPaint</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist_5_0</name>
        <label>Transformer Checklist</label>
        <locationX>387</locationX>
        <locationY>589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Checklist_5_5</targetReference>
        </connector>
        <fields>
            <name>TransformerCL_5_0</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerCleanedLabel_5_0</name>
            <fieldText>{!TransformerCleanedLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerCleaned</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist_5_5</name>
        <label>Transformer Checklist</label>
        <locationX>214</locationX>
        <locationY>743</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_OilTemperature_Photo_4_5_5</targetReference>
        </connector>
        <fields>
            <name>TransformerCL_5_5</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerTempLabel_5_5</name>
            <fieldText>{!TransformerTempLabel} (attach picture)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerTemp</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist_5_5_5</name>
        <label>Transformer Checklist</label>
        <locationX>250</locationX>
        <locationY>904</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Checklist_5_5_5_5</targetReference>
        </connector>
        <fields>
            <name>TransformerCL_5_5_5</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerCableLabel_5_5_5</name>
            <fieldText>{!TransformerCablesLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerCables</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist_5_5_5_5</name>
        <label>Transformer Checklist</label>
        <locationX>397</locationX>
        <locationY>925</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Thermal_Abnormalities_Photo</targetReference>
        </connector>
        <fields>
            <name>TransformerCL_5_5_5_5</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerThermalLabel_5_5_5_5</name>
            <fieldText>{!TransformerThermalLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerThermal</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist_5_5_5_5_5</name>
        <label>Transformer Checklist</label>
        <locationX>400</locationX>
        <locationY>1043</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Checklist_5_5_5_5_5_0</targetReference>
        </connector>
        <fields>
            <name>TransformerCL_5_5_5_5_5</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerDebrisFreeLabel_5_5_5_5_5</name>
            <fieldText>{!TransformerDebrisLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerDebrisFree</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Checklist_5_5_5_5_5_0</name>
        <label>Transformer Checklist</label>
        <locationX>396</locationX>
        <locationY>1236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Image_Capture_Screen</targetReference>
        </connector>
        <fields>
            <name>TransformerCL_5_5_5_5_5_0</name>
            <fieldText>Transformer Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerSafetyLabel_5_5_5_5_5_0</name>
            <fieldText>{!TransformerSafetyLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TransformerSafety</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Nameplate_Photo_4_5</name>
        <label>Transformer Nameplate Photo</label>
        <locationX>355</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Checklist_5</targetReference>
        </connector>
        <fields>
            <name>SharinPixTranNameplate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_OilTemperature_Photo_4_5_5</name>
        <label>Transformer Oil Temperature Photo</label>
        <locationX>394</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Checklist_5_5_5</targetReference>
        </connector>
        <fields>
            <name>SharinPixTranOil</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transformer_Thermal_Abnormalities_Photo</name>
        <label>Transformer Thermal Abnormalities Photo</label>
        <locationX>261</locationX>
        <locationY>1059</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transformer_Checklist_5_5_5_5_5</targetReference>
        </connector>
        <fields>
            <name>SharinPixTranThermal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Checklist</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>855</locationX>
        <locationY>1195</locationY>
        <connector>
            <targetReference>Update_Checklist</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>WoliId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetFault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SV__c</objectType>
    </variables>
    <variables>
        <name>SharinPixAppLauncher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;sharinpix://upload?token={!SharinPixToken}&amp;upload_id={!ChecklistId}&quot;&gt;Take Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SharinPixToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
