flows/Primary_PM_Solar_Array_FSL1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <constants>
        <name>ConduitsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Conduits are free of damage, properly supported and wheater heads are in place and are properly sealing the conduit from water ingress</stringValue>
        </value>
    </constants>
    <constants>
        <name>ContinuityLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Using a meter, confirm continuity between the module and the racking then confirmed continuity between racking and grounding wire. Grounding connections are firmly attached, properly secured, free of corrosion or other damage</stringValue>
        </value>
    </constants>
    <constants>
        <name>DamageFreeLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modules are free of damage to the frame, cracked front glass, cracked backsheet, signs of delamination, signs of water egress or damage termination box.</stringValue>
        </value>
    </constants>
    <constants>
        <name>DCWiringLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DC wiring is properly routed and secured.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MountingSystemLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modules are properly secured w/ mounting system and all hardware is properly tighten and secure.</stringValue>
        </value>
    </constants>
    <constants>
        <name>NameplateLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Document the Module nameplate w/ manufacturer and serial number.</stringValue>
        </value>
    </constants>
    <constants>
        <name>PaintDamageLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Array racking is free of paint damage, corrosion, or any other physical damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>rackingfastenerslabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Racking fasteners are properly torqued, free of corrosion, or other damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>RoofMountBallastLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Roof Mount: Ballast are properly stationed, securing the array, and free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>RoofMountLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Roof Mount: Wind Deflector is properly secured and free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>RoofMountSlipSheetLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Roof Mount: Slip Sheet is properly positioned, protecting the roof and free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SoilingLevelLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Module soiling level.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ThermalInspectionDCLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thermal inspection of DC connectors are free of anomalies</stringValue>
        </value>
    </constants>
    <constants>
        <name>ThermalInspectionLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thermal inspection of the modules are free of anomalies.</stringValue>
        </value>
    </constants>
    <constants>
        <name>VegetationFreeLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modules are free of any vegetation contacting the backsheet or vegetation growing up through the array.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pass_or_Fail</name>
        <label>Pass or Fail</label>
        <locationX>426</locationX>
        <locationY>1899</locationY>
        <defaultConnector>
            <targetReference>Update_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Nameplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>framedamage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mountingsystem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThermalInspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vegetationfree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThermalInspectionDc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DCWiring</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conduits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>continuity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paintdamage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rackingfasteners</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>roofmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>roofmountballast</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>roofmountslipsheet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary</name>
        <label>Primary or Secondary</label>
        <locationX>169</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Checklist_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar_Array_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_Array_Checklist</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0</name>
        <label>Primary or Secondary</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar_Array_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_Array_Checklist_1_1_1</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0_0</name>
        <label>Primary or Secondary</label>
        <locationX>184</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar_Array_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_Array_Checklist_1_1_1_1</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0_0_0</name>
        <label>Primary or Secondary</label>
        <locationX>224</locationX>
        <locationY>1249</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar_Array_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_Array_Checklist_1_1_1_1_2_2</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0_0_0_0</name>
        <label>Primary or Secondary</label>
        <locationX>202</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar_Array_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <description>Remove pending work report label</description>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Primary PM Solar Array FSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Primary PM Solar Array FSL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>467</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <object>Checklist__c</object>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SharinPixToken</assignToReference>
            <field>SharinPix_Token_Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>553</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_or_Secondary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist</name>
        <label>Update Checklist</label>
        <locationX>623</locationX>
        <locationY>2023</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Conduitsnodmgepropersupportetc__c</field>
            <value>
                <elementReference>conduits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCwiringisproperlyroutedandsecured__c</field>
            <value>
                <elementReference>DCWiring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docmanufacturerserial__c</field>
            <value>
                <elementReference>Nameplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moduleshardwaresecuredtightened__c</field>
            <value>
                <elementReference>mountingsystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modulesoilinglevel__c</field>
            <value>
                <elementReference>soilinglevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nodamageetctomodules__c</field>
            <value>
                <elementReference>framedamage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nopaintcorrodamage__c</field>
            <value>
                <elementReference>paintdamage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Novegcontactbacksheetorthruarray__c</field>
            <value>
                <elementReference>vegetationfree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rackingfastnerstorquednodamageetc__c</field>
            <value>
                <elementReference>rackingfasteners</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoofMtBallastproperlystationedetc__c</field>
            <value>
                <elementReference>roofmountballast</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoofMtSlipSheetpositionednodmg__c</field>
            <value>
                <elementReference>roofmountslipsheet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoofMtnodamageWindDeflector__c</field>
            <value>
                <elementReference>roofmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thermalinspectinternalnoissues__c</field>
            <value>
                <elementReference>ThermalInspectionDc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thermalinspectnoanomallies__c</field>
            <value>
                <elementReference>ThermalInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usemeterconfirmcontinuity__c</field>
            <value>
                <elementReference>continuity</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Image_Capture_Screen</name>
        <label>Additional Images</label>
        <locationX>249</locationX>
        <locationY>1980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_or_Fail</targetReference>
        </connector>
        <fields>
            <name>SharinPixSAAI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modules_Free_of_Damage_Photo</name>
        <label>Modules Free of Damage Photo</label>
        <locationX>187</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixSAMod</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist</name>
        <label>Solar Array Checklist</label>
        <locationX>427</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Nameplate_Photo</targetReference>
        </connector>
        <fields>
            <name>SATitle</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ModuleNameplateLabel</name>
            <fieldText>{!NameplateLabel} (attach 1 picture per Module type)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nameplate</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1</name>
        <label>Solar Array Checklist</label>
        <locationX>191</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Modules_Free_of_Damage_Photo</targetReference>
        </connector>
        <fields>
            <name>SATitle_1</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>damagefreelabel_1</name>
            <fieldText>{!DamageFreeLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>framedamage</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1</name>
        <label>Solar Array Checklist</label>
        <locationX>190</locationX>
        <locationY>481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mountingsystemlabel_1_1</name>
            <fieldText>{!MountingSystemLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mountingsystem</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1</name>
        <label>Solar Array Checklist</label>
        <locationX>394</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Thermal_Photo</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThermalInspectionlabel_1</name>
            <fieldText>(attach pictures){!ThermalInspectionLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThermalInspection</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1</name>
        <label>Solar Array Checklist</label>
        <locationX>411</locationX>
        <locationY>835</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Thermal_DC_Photo</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThermalInspectionDCLabel_1_1_1_1</name>
            <fieldText>{!ThermalInspectionDCLabel}(attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThermalInspectionDc</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_1</name>
        <label>Solar Array Checklist</label>
        <locationX>201</locationX>
        <locationY>742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0_0</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_1</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vegetationfreelabel_1_1_1_1_1</name>
            <fieldText>{!VegetationFreeLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vegetationfree</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Soilinglevellabel_1_1_1_1_1</name>
            <fieldText>{!SoilingLevelLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>soilinglevel</name>
            <choiceReferences>CLMH</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2</name>
        <label>Solar Array Checklist</label>
        <locationX>211</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Thermal_DC_Wiring_Photo</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCWiringLabel_1_1_1_1_2</name>
            <fieldText>{!DCWiringLabel} (add a minimum of 25 zip ties and attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCWiring</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2_2</name>
        <label>Solar Array Checklist</label>
        <locationX>393</locationX>
        <locationY>1201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2_2</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conduitslabel_1</name>
            <fieldText>{!ConduitsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>conduits</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2_2_2</name>
        <label>Solar Array Checklist</label>
        <locationX>403</locationX>
        <locationY>1294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Continuity_Photo</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2_2_2</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continuitylabel_1_1_1_1_2_2_2</name>
            <fieldText>{!ContinuityLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>continuity</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2_2_2_2</name>
        <label>Solar Array Checklist</label>
        <locationX>206</locationX>
        <locationY>1480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2_2_2_2</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>paintdamagelabel_1_1_1_1_2_2_2_2</name>
            <fieldText>{!PaintDamageLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>paintdamage</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0</name>
        <label>Solar Array Checklist</label>
        <locationX>423</locationX>
        <locationY>1585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0_0</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2_2_2_2_0</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rackingfastenerslabel_1_1_1_1_2_2_2_2_0</name>
            <fieldText>{!rackingfastenerslabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rackingfasteners</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0_0</name>
        <label>Solar Array Checklist</label>
        <locationX>207</locationX>
        <locationY>1652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2_2_2_2_0_0</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RoofMountLabel_1_1_1_1_2_2_2_2_0_0</name>
            <fieldText>{!RoofMountLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>roofmount</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0_0_0</name>
        <label>Solar Array Checklist</label>
        <locationX>208</locationX>
        <locationY>1743</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2_2_2_2_0_0_0</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RoofMountBallastlabel_1_1_1_1_2_2_2_2_0_0_0</name>
            <fieldText>{!RoofMountBallastLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>roofmountballast</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Checklist_1_1_1_1_2_2_2_2_0_0_0_0</name>
        <label>Solar Array Checklist</label>
        <locationX>208</locationX>
        <locationY>1857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Image_Capture_Screen</targetReference>
        </connector>
        <fields>
            <name>SATitle_1_1_1_1_2_2_2_2_0_0_0_0</name>
            <fieldText>Solar Array Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>roofmountslipsheetlabel_1_1_1_1_2_2_2_2_0_0_0_0</name>
            <fieldText>{!RoofMountSlipSheetLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>roofmountslipsheet</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Continuity_Photo</name>
        <label>Solar Array Continuity Photo</label>
        <locationX>395</locationX>
        <locationY>1404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2_2_2_2</targetReference>
        </connector>
        <fields>
            <name>SharinPixSACont</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Nameplate_Photo</name>
        <label>Solar Array Nameplate Photo</label>
        <locationX>428</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixSANameplate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Thermal_DC_Photo</name>
        <label>Solar Array Thermal DC Photo</label>
        <locationX>403</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_2</targetReference>
        </connector>
        <fields>
            <name>SharinPixSADC</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Thermal_DC_Wiring_Photo</name>
        <label>Solar Array Thermal DC Wiring Photo</label>
        <locationX>211</locationX>
        <locationY>1115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SharinPixSAThermalDC</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solar_Array_Thermal_Photo</name>
        <label>Solar Array Thermal Photo</label>
        <locationX>396</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solar_Array_Checklist_1_1_1_1_1</targetReference>
        </connector>
        <fields>
            <name>SharinPixSAThermal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Checklist</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>637</locationX>
        <locationY>1839</locationY>
        <connector>
            <targetReference>Update_Checklist</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>WoliId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetFault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SV__c</objectType>
    </variables>
    <variables>
        <name>SharinPixAppLauncher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;sharinpix://upload?token={!SharinPixToken}&amp;upload_id={!ChecklistId}&quot;&gt;Take Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SharinPixToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
