flows/Primary_PM_String_Inveter_FSL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <constants>
        <name>DCDisconnectLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DC Disconnect has been operated multiple times, showing no signs of malfunction and using a meter, DC power has been confirmed absent with the DC Disconnect in the open position.</stringValue>
        </value>
    </constants>
    <constants>
        <name>DocInverterLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Document the Inverter nameplate w/ manufacturer and serial number.</stringValue>
        </value>
    </constants>
    <constants>
        <name>FanCoverLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fan cover has been removed, the fan, filter, fan cover have been cleaned and are free of dirt, debris or damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>HandCoversLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hand covers / cooling fin covers have been removed, cooling fins have been cleaned and are free of dirt, debris or damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>InverterCleanLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>External inverter housing is clean, free of paint damage, corrosion, or any other physical damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>InverterFusesLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All fuses have been checked and confirmed with a meter to be in good working condition and show no signs of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>InverterNoWaterLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal inverter housing shows no signs of water ingression. All gaskets, grommets and pernertations are sealed and free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>StringTerminationsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All string terminations are confirmed properly seated or torqued, and free of signs of heat or damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SurgeArresterLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Surge arrester is not in the trip position and shows no signs of failure or damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>ThermalInspectionInverterLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thermal inspection of the inverter and DC string connections are free of anomalies.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pass_or_Fail</name>
        <label>Pass or Fail</label>
        <locationX>805</locationX>
        <locationY>1447</locationY>
        <defaultConnector>
            <targetReference>Update_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DocInverter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InverterClean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InverterNoWater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FanCoverRemoved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HandCovers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DCDisconnect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StringTerminations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThermalInspectionInverter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InverterFuses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurgeArrester</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary</name>
        <label>Primary or Secondary</label>
        <locationX>180</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>String_Inverter_Checklist_4_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>String_Inverter_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>String_Inverter_Checklist_4_0</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0</name>
        <label>Primary or Secondary</label>
        <locationX>270</locationX>
        <locationY>1327</locationY>
        <defaultConnector>
            <targetReference>String_Inverter_Checklist_4_5_5_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>String_Inverter_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>String_Inverter_Checklist_4_5_5</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <description>Record Type Fix</description>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Primary PM String Inveter FSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Primary PM String Inveter FSL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>375</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <object>Checklist__c</object>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SharinPixToken</assignToReference>
            <field>SharinPix_Token_Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>564</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>String_Inverter_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist</name>
        <label>Update Checklist</label>
        <locationX>1344</locationX>
        <locationY>1609</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACvoltagereadingPhaseAtoB__c</field>
            <value>
                <elementReference>ACPhaseAtoB_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACvoltagereadingPhaseAtoC__c</field>
            <value>
                <elementReference>ACVoltageAtoC_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACvoltagereadingPhaseBtoC__c</field>
            <value>
                <elementReference>ACVoltageBtoC_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DCDisconnecttestednoDCpower__c</field>
            <value>
                <elementReference>DCDisconnect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCvoltagereadingnegativetoground__c</field>
            <value>
                <elementReference>DCVoltageNegativeToGround_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCvoltagereadingpositivetoground__c</field>
            <value>
                <elementReference>DCPositivetoGround_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extinverterhousingcleannodamage__c</field>
            <value>
                <elementReference>InverterClean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fanfilterfancovercleaned__c</field>
            <value>
                <elementReference>FanCoverRemoved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fusescheckedallgoodnodamage__c</field>
            <value>
                <elementReference>InverterFuses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HandcoversCoolingfanscleaned__c</field>
            <value>
                <elementReference>HandCovers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InternalInverterhousingnodamageetc__c</field>
            <value>
                <elementReference>InverterNoWater</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InverterDCStringConnectnoanomalie__c</field>
            <value>
                <elementReference>ThermalInspectionInverter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InverterHousingcleannodamage__c</field>
            <value>
                <elementReference>InverterClean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stringterminationsseatedtorqued__c</field>
            <value>
                <elementReference>StringTerminations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgearresterisnottrippednodamage__c</field>
            <value>
                <elementReference>SurgeArrester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thermalinspectnoanomallies__c</field>
            <value>
                <elementReference>ThermalInspectionInverter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>manufacturerserialno__c</field>
            <value>
                <elementReference>DocInverter</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Image_Capture_Screen</name>
        <label>Additional Images</label>
        <locationX>450</locationX>
        <locationY>1588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_or_Fail</targetReference>
        </connector>
        <fields>
            <name>SharinPixSIAI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist</name>
        <label>String Inverter Checklist</label>
        <locationX>361</locationX>
        <locationY>297</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Nameplate_Photo_4</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocInverterLabel1</name>
            <fieldText>{!DocInverterLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocInverter</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4</name>
        <label>String Inverter Checklist</label>
        <locationX>369</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InverterNoWaterLabel_4</name>
            <fieldText>{!InverterNoWaterLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InverterNoWater</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_0</name>
        <label>String Inverter Checklist</label>
        <locationX>550</locationX>
        <locationY>746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4_0_0</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_0</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FanCoverRemovedLabel_4_0</name>
            <fieldText>{!FanCoverLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FanCoverRemoved</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_0_0</name>
        <label>String Inverter Checklist</label>
        <locationX>561</locationX>
        <locationY>848</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4_0_0_0</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_0_0</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HandCoversLabel_4_0_0</name>
            <fieldText>{!HandCoversLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HandCovers</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_0_0_0</name>
        <label>String Inverter Checklist</label>
        <locationX>387</locationX>
        <locationY>909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_0_0_0</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCDisconnectLabel_4_0_0_0</name>
            <fieldText>{!DCDisconnectLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCDisconnect</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_0_0_0_0</name>
        <label>String Inverter Checklist</label>
        <locationX>378</locationX>
        <locationY>1009</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4_5</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_0_0_0_0</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StringTerminationsLabel_4_0_0_0_0</name>
            <fieldText>{!StringTerminationsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StringTerminations</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_4</name>
        <label>String Inverter Checklist</label>
        <locationX>374</locationX>
        <locationY>466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Housing_Photo</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_4</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InverterCleanLabel_4_4</name>
            <fieldText>{!InverterCleanLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InverterClean</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_5</name>
        <label>String Inverter Checklist</label>
        <locationX>374</locationX>
        <locationY>1126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Thermal_Photo</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_5</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThermalInspectionInverterLabel_4_5</name>
            <fieldText>{!ThermalInspectionInverterLabel}  (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ThermalInspectionInverter</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_5_5</name>
        <label>String Inverter Checklist</label>
        <locationX>602</locationX>
        <locationY>1229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4_5_5_0</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_5_5</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InverterFusesLabel_4_5_5</name>
            <fieldText>{!InverterFusesLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InverterFuses</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_5_5_0</name>
        <label>String Inverter Checklist</label>
        <locationX>539</locationX>
        <locationY>1415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4_5_5_0_0</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_5_5_0</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACVoltageAtoB_4_5_5_0</name>
            <fieldText>AC voltage reading Phase A to B</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACPhaseAtoB_0</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ACVoltageAtoCLabel_4_5_5_0</name>
            <fieldText>AC voltage reading Phase A to C</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACVoltageAtoC_0</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ACVoltageBtoCLabel_4_5_5_0</name>
            <fieldText>AC voltage reading Phase B to C</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACVoltageBtoC_0</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DCPositivetoGroundLabel_4_5_5_0</name>
            <fieldText>DC voltage reading positive to ground</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCPositivetoGround_0</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DCVoltageNegativeToGroundLabel_4_5_5_0</name>
            <fieldText>DC voltage reading negative to ground</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCVoltageNegativeToGround_0</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Checklist_4_5_5_0_0</name>
        <label>String Inverter Checklist</label>
        <locationX>325</locationX>
        <locationY>1533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Image_Capture_Screen</targetReference>
        </connector>
        <fields>
            <name>StringInverterChecklist_4_5_5_0_0</name>
            <fieldText>String Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SurgeArresterLabel_4_5_5_0_0</name>
            <fieldText>{!SurgeArresterLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SurgeArrester</name>
            <choiceReferences>PFCNA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Housing_Photo</name>
        <label>String Inverter Housing Photo</label>
        <locationX>374</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4</targetReference>
        </connector>
        <fields>
            <name>SharinPixSIHousing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Inverter_Nameplate_Photo_4</name>
        <label>String Inverter Nameplate Photo</label>
        <locationX>379</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>String_Inverter_Checklist_4_4</targetReference>
        </connector>
        <fields>
            <name>SharinPixSINameplate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>String_Thermal_Photo</name>
        <label>String Thermal Photo</label>
        <locationX>387</locationX>
        <locationY>1197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0</targetReference>
        </connector>
        <fields>
            <name>SharinPixSIThermal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Checklist</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PendingWork_0_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>1194</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>Update_Checklist</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>WoliId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetFault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SV__c</objectType>
    </variables>
    <variables>
        <name>SharinPixAppLauncher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;sharinpix://upload?token={!SharinPixToken}&amp;upload_id={!ChecklistId}&quot;&gt;Take Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SharinPixToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
