flows/Primary_PM_Communication_Cabinet_FSL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <constants>
        <name>CCCablesLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All communication cables are properly plug in, secure, and free of any signs of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CCDebrisLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Communication Cabinet is free of debris, rodent nest, insect infestation, or any other unwanted materials</stringValue>
        </value>
    </constants>
    <constants>
        <name>CCPaintLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Communication Cabinet is free of paint damage, corrosion, water ingress, or any other physical damage</stringValue>
        </value>
    </constants>
    <constants>
        <name>EquiptMountedLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All equipment is securely mounted and free of any signs of damage</stringValue>
        </value>
    </constants>
    <constants>
        <name>LEDLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All equipment shows LED lit or flashing indicating that it is powered.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pass_or_Fail</name>
        <label>Pass or Fail</label>
        <locationX>940</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Update_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CCPaint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EquiptMounted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LED</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CCCables</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CCDebris</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWork_0_0_0_0</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary</name>
        <label>Primary or Secondary</label>
        <locationX>238</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>Communication_Cabinet_Checklist_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Communication_Cabinet_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Communication_Cabinet_Checklist_0_0_0</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <description>Record Type Fix</description>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Primary PM Communication Cabinet FSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Primary PM Communication Cabinet FSL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>488</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <object>Checklist__c</object>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SharinPixToken</assignToReference>
            <field>SharinPix_Token_Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Name</name>
        <label>Record Type Name</label>
        <locationX>423</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Communication_Cabinet_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist</name>
        <label>Update Checklist</label>
        <locationX>1361</locationX>
        <locationY>633</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commcablespluginsecurenodamage__c</field>
            <value>
                <elementReference>CCCables</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>LEDlitorflashingwhenpowered__c</field>
            <value>
                <elementReference>LED</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nodebrisrodentinsectdebrisetc__c</field>
            <value>
                <elementReference>CCDebris</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nopaintcorrodamage__c</field>
            <value>
                <elementReference>CCPaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Securemountandnodamage__c</field>
            <value>
                <elementReference>EquiptMounted</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Communication_Cabinet_Cabling</name>
        <label>Communication Cabinet Cabling</label>
        <locationX>532</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Communication_Cabinet_Checklist_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SharinPixCCCabling</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Communication_Cabinet_Checklist</name>
        <label>Communication Cabinet Checklist</label>
        <locationX>584</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Communication_Cabinet_Checklist_0</targetReference>
        </connector>
        <fields>
            <name>CommunicationCabinetCL</name>
            <fieldText>Communication Cabinet Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCPaintLabel1</name>
            <fieldText>{!CCPaintLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCPaint</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Communication_Cabinet_Checklist_0</name>
        <label>Communication Cabinet Checklist</label>
        <locationX>708</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Communication_Cabinet_Checklist_0_0</targetReference>
        </connector>
        <fields>
            <name>CommunicationCabinetCL_0</name>
            <fieldText>Communication Cabinet Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EquiptMountedLabel_0</name>
            <fieldText>{!EquiptMountedLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EquiptMounted</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Communication_Cabinet_Checklist_0_0</name>
        <label>Communication Cabinet Checklist</label>
        <locationX>778</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary</targetReference>
        </connector>
        <fields>
            <name>CommunicationCabinetCL_0_0</name>
            <fieldText>Communication Cabinet Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LEDLabel_0_0</name>
            <fieldText>{!LEDLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LED</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Communication_Cabinet_Checklist_0_0_0</name>
        <label>Communication Cabinet Checklist</label>
        <locationX>695</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Communication_Cabinet_Cabling</targetReference>
        </connector>
        <fields>
            <name>CommunicationCabinetCL_0_0_0</name>
            <fieldText>Communication Cabinet Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCCablesLabel_0_0_0</name>
            <fieldText>{!CCCablesLabel} (add a minimum of 5 zip ties, attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCCables</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Communication_Cabinet_Checklist_0_0_0_0</name>
        <label>Communication Cabinet Checklist</label>
        <locationX>524</locationX>
        <locationY>673</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Image_Capture_Screen</targetReference>
        </connector>
        <fields>
            <name>CommunicationCabinetCL_0_0_0_0</name>
            <fieldText>Communication Cabinet Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCDebrisLabel_0_0_0_0</name>
            <fieldText>{!CCDebrisLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCDebris</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_Capture_Screen</name>
        <label>Additional Images</label>
        <locationX>712</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_or_Fail</targetReference>
        </connector>
        <fields>
            <name>SharinPixCCAI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Checklist</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PendingWork_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>1166</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>Update_Checklist</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>WoliId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetFault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SV__c</objectType>
    </variables>
    <variables>
        <name>SharinPixAppLauncher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;sharinpix://upload?token={!SharinPixToken}&amp;upload_id={!ChecklistId}&quot;&gt;Take Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SharinPixToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
