flows/Primary_PM_Central_Inverter_FSL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <constants>
        <name>ACCablesLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All AC cables are properly torqued, show no signs of insulation degradation, stress, heat, or any other damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>BreakersLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All breakers are in the closed position and free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>BusbarsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Busbars are properly torqued and free of corrosion, signs of heat or any other damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CapacitorLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Capacitors show no signs of heat, fluid leaks, deformities or any other damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CenInvHMILabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recorded input and output voltages match values on HMI display.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CentInverterNameplateLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Document the Inverter nameplate w/ manufacturer and serial number.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CentInvThermalInspectionLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thermal inspection of all internal components and terminations show no thermal anomalies.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CentralInverterHousingLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The Inverter housing is clean, free of paint damage, corrosion, or any other physical damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CentralInverterSafetyLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety and warning placards are installed and legible in accordance with site as-built drawings</stringValue>
        </value>
    </constants>
    <constants>
        <name>ControlWiresLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Control wires and control wire termination blocks are properly seated, secured, and free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CoolingLabel1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cooling fans operate correctly without an abnormal noises or oscillation and are free of any damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>DCCablesLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All DC cables are properly torqued, show no signs of insulation degradation, stress, heat, or any other damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>DoorLatchesLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Door latches, locks and hinges, move freely, operate correctly are free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>FiltersLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Filters have been removed, inspected, cleaned or replaced, are free of dirt, debris or damage, and properly installed.</stringValue>
        </value>
    </constants>
    <constants>
        <name>FusesTestedLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All fuses tested and confirmed in good electrical condition.</stringValue>
        </value>
    </constants>
    <constants>
        <name>HMILabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HMI screen is in good condition, properly functioning and legible.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MainACLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Main AC breaker was manually tripped open and power confirmed absent. Main AC breaker was closed, power was confirmed and closing spring was recharged.</stringValue>
        </value>
    </constants>
    <constants>
        <name>MasterBoardsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>All master boards, driver boards and communication boards, have connectors that are properly seated, locked into position, and free of damage.</stringValue>
        </value>
    </constants>
    <constants>
        <name>PannelDoorGasketsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Panel and door gaskets are free of damage, seated properly and correctly seal the cabinet when closed.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pass_or_Fail</name>
        <label>Pass or Fail</label>
        <locationX>504</locationX>
        <locationY>2562</locationY>
        <defaultConnector>
            <targetReference>Update_Checklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fail</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CentInvtNameplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CentralInverterSafety</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CentralInverterHousing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HMI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filters</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cooling</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CentInvThermalInspection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ControlWires</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MasterBoards</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FusesTested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Breakers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MainAC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Capacitor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CenInvHMI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Busbars</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ACCables</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DCCables</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PannelDoorGaskets</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DoorLatches</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendingWorkFSL_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary</name>
        <label>Primary or Secondary</label>
        <locationX>94</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>Central_Inverter_Checklist_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central_Inverter_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Central_Inverter_Checklist_3</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0</name>
        <label>Primary or Secondary</label>
        <locationX>193</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central_Inverter_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Central_Inverter_Checklist_4_4_4</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0_0</name>
        <label>Primary or Secondary</label>
        <locationX>94</locationX>
        <locationY>1685</locationY>
        <defaultConnector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central_Inverter_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Central_Inverter_Checklist_4_4_4_4_0</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_or_Secondary_0_0_0</name>
        <label>Primary or Secondary</label>
        <locationX>86</locationX>
        <locationY>1854</locationY>
        <defaultConnector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central_Inverter_Primary_PM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Central_Inverter_Checklist_4_4_4_4_0_0_0</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <description>Record Type fix</description>
    <dynamicChoiceSets>
        <name>AssetFaultPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Fault__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetOffline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_Asset_Offline__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BOPHeightAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CLMH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Modulesoilinglevel__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Height</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sitevegetationheight__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightBefore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BOP_Mowing_Vegetation_Height__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Docmanufacturerserial__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nodebrisrodentinsectdebrisetc__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PFCNA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perimeterfence__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayHeightBeforePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_Before__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolarArrayVegHeightAferPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Array_Mowing_Height_After__c</picklistField>
        <picklistObject>Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WOLI_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Primary PM Central Inverter FSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Primary PM Central Inverter FSL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Checklist</name>
        <label>Checklist</label>
        <locationX>172</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <object>Checklist__c</object>
        <outputAssignments>
            <assignToReference>ChecklistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SharinPixToken</assignToReference>
            <field>SharinPix_Token_Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>307</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Central_Inverter_Checklist_Namelplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Checklist</name>
        <label>Update Checklist</label>
        <locationX>765</locationX>
        <locationY>2661</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACcablestorquednodamage__c</field>
            <value>
                <elementReference>ACCables</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACvoltagereadingPhaseAtoB__c</field>
            <value>
                <elementReference>ACVoltageAB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACvoltagereadingPhaseAtoC__c</field>
            <value>
                <elementReference>ACVoltageAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACvoltagereadingPhaseBtoC__c</field>
            <value>
                <elementReference>ACVoltageBC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allboardshaveconnectandseated__c</field>
            <value>
                <elementReference>MasterBoards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Breakersclosednodamage__c</field>
            <value>
                <elementReference>Breakers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Busbarstorquedandnodamage__c</field>
            <value>
                <elementReference>Busbars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacitorsshownodamage__c</field>
            <value>
                <elementReference>Capacitor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Controlwirestermblksseatednodmg__c</field>
            <value>
                <elementReference>ControlWires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coolingsfansoperatingwoutabnnoises__c</field>
            <value>
                <elementReference>Cooling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCcablestorquednodamage__c</field>
            <value>
                <elementReference>DCCables</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCvoltagereadingnegativetoground__c</field>
            <value>
                <elementReference>DCNegtoGround</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCvoltagereadingpositivetoground__c</field>
            <value>
                <elementReference>DCPostoGround</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docmanufacturerserial__c</field>
            <value>
                <elementReference>CentInvtNameplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doorlatcheslocks__c</field>
            <value>
                <elementReference>DoorLatches</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filtersinspectedcleanedreplaced__c</field>
            <value>
                <elementReference>Filters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fusestestedgoodcondition__c</field>
            <value>
                <elementReference>FusesTested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HMIscreengoodcondfunctioning__c</field>
            <value>
                <elementReference>HMI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InputOutputvoltagesmatchHMIdisplay__c</field>
            <value>
                <elementReference>CenInvHMI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InverterHousingcleannodamage__c</field>
            <value>
                <elementReference>CentralInverterHousing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mainbrkrtrippedandtested__c</field>
            <value>
                <elementReference>MainAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paneldoorgasketsnodamageseal__c</field>
            <value>
                <elementReference>PannelDoorGaskets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SafetyWarningPlacardslegible__c</field>
            <value>
                <elementReference>CentralInverterSafety</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thermalinspectinternalnoissues__c</field>
            <value>
                <elementReference>CentInvThermalInspection</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Central_Inverter_AC_Photo</name>
        <label>Central Inverter AC Photo</label>
        <locationX>210</locationX>
        <locationY>2166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_4_4</targetReference>
        </connector>
        <fields>
            <name>SharinPixCIAC</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist</name>
        <label>Central Inverter Checklist</label>
        <locationX>387</locationX>
        <locationY>919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoolingLabel</name>
            <fieldText>{!CoolingLabel1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cooling</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>179</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_1</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentralInverterSafetyLabel_0</name>
            <fieldText>{!CentralInverterSafetyLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentralInverterSafety</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_1</name>
        <label>Central Inverter Checklist</label>
        <locationX>186</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Housing_Photo</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_1</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentralInverterHousingLabel_1</name>
            <fieldText>{!CentralInverterHousingLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentralInverterHousing</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_2</name>
        <label>Central Inverter Checklist</label>
        <locationX>188</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_2</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HMILabel_2</name>
            <fieldText>{!HMILabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HMI</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_3</name>
        <label>Central Inverter Checklist</label>
        <locationX>388</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Filter_Photo</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_3</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FiltersLabel_3</name>
            <fieldText>{!FiltersLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filters</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4</name>
        <label>Central Inverter Checklist</label>
        <locationX>188</locationX>
        <locationY>1018</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Thermal_Photo</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentInvThermalInspectionLabel_4</name>
            <fieldText>{!CentInvThermalInspectionLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentInvThermalInspection</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4</name>
        <label>Central Inverter Checklist</label>
        <locationX>193</locationX>
        <locationY>1192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ControlWiresLabel_4_4</name>
            <fieldText>{!ControlWiresLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ControlWires</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>200</locationX>
        <locationY>1281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MasterBoardsLabel_4_4_0</name>
            <fieldText>{!MasterBoardsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MasterBoards</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4</name>
        <label>Central Inverter Checklist</label>
        <locationX>517</locationX>
        <locationY>1348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Fuses_Photo</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FusesTestedLabel_4_4_4</name>
            <fieldText>{!FusesTestedLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FusesTested</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4</name>
        <label>Central Inverter Checklist</label>
        <locationX>203</locationX>
        <locationY>1607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BreakersLabel_4_4_4_4</name>
            <fieldText>{!BreakersLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Breakers</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>454</locationX>
        <locationY>1673</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_0_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MainACLabel_4_4_4_4_0</name>
            <fieldText>{!MainACLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MainAC</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_0_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>202</locationX>
        <locationY>1734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primary_or_Secondary_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_0_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CapacitorsLabel_4_4_4_4_0_0</name>
            <fieldText>{!CapacitorLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Capacitor</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_0_0_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_0_0_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACVoltageAtoBLabel_4_4_4_4_0_0_0</name>
            <fieldText>AC voltage reading Phase A to B</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACVoltageAB</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ACVoltageACLabel_4_4_4_4_0_0_0</name>
            <fieldText>AC voltage reading Phase A to C</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACVoltageAC</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>ACVoltageBCLabel_4_4_4_4_0_0_0</name>
            <fieldText>AC voltage reading Phase B to C</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACVoltageBC</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DCPostoGroundLabel_4_4_4_4_0_0_0</name>
            <fieldText>DC voltage reading positive to ground</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCPostoGround</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DCNegtoGroundLabel_4_4_4_4_0_0_0</name>
            <fieldText>DC voltage reading negative to ground</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCNegtoGround</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_0_0_0_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>390</locationX>
        <locationY>2017</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_0_0_0_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CenInvHMILabel_4_4_4_4_0_0_0_0</name>
            <fieldText>{!CenInvHMILabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CenInvHMI</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_0_0_0_0_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>207</locationX>
        <locationY>1988</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_4</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_0_0_0_0_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusbarsLabel_4_4_4_4_0_0_0_0_0</name>
            <fieldText>{!BusbarsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Busbars</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_4</name>
        <label>Central Inverter Checklist</label>
        <locationX>213</locationX>
        <locationY>2073</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_AC_Photo</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_4</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACCablesLabel_4_4_4_4_4</name>
            <fieldText>{!ACCablesLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACCables</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_4_4</name>
        <label>Central Inverter Checklist</label>
        <locationX>205</locationX>
        <locationY>2268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_DC_Photo</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_4_4</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCCablesLabel_4_4_4_4_4_4</name>
            <fieldText>{!DCCablesLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DCCables</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_4_4_4</name>
        <label>Central Inverter Checklist</label>
        <locationX>206</locationX>
        <locationY>2434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_4_4_4_0</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_4_4_4</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PannelDoorGasketsLabel_4_4_4_4_4_4_4</name>
            <fieldText>{!PannelDoorGasketsLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PannelDoorGaskets</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_4_4_4_4_4_4_4_0</name>
        <label>Central Inverter Checklist</label>
        <locationX>208</locationX>
        <locationY>2516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Image_Capture_Screen</targetReference>
        </connector>
        <fields>
            <name>CentralInverterChecklist_4_4_4_4_4_4_4_0</name>
            <fieldText>Central Inverter Checklist</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Doorlatcheslabel_4_4_4_4_4_4_4_0</name>
            <fieldText>{!DoorLatchesLabel}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DoorLatches</name>
            <choiceReferences>PFC</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Checklist_Namelplate</name>
        <label>Central Inverter Checklist - Namelplate</label>
        <locationX>169</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Nameplate_Photo</targetReference>
        </connector>
        <fields>
            <name>CentInvtNameplateLabel</name>
            <fieldText>{!CentInverterNameplateLabel} (attach pictures)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CentInvtNameplate</name>
            <choiceReferences>PF</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_DC_Photo</name>
        <label>Central Inverter DC Photo</label>
        <locationX>205</locationX>
        <locationY>2341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4_4_4_4</targetReference>
        </connector>
        <fields>
            <name>SharinPixCIDC</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Filter_Photo</name>
        <label>Central Inverter Filter Photo</label>
        <locationX>390</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist</targetReference>
        </connector>
        <fields>
            <name>SharinPixCIFilter</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Fuses_Photo</name>
        <label>Central Inverter Fuses Photo</label>
        <locationX>520</locationX>
        <locationY>1461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4_4_4</targetReference>
        </connector>
        <fields>
            <name>SharinPixCIFuses</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Housing_Photo</name>
        <label>Central Inverter Housing Photo</label>
        <locationX>188</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_2</targetReference>
        </connector>
        <fields>
            <name>SharinPixCIHousing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Nameplate_Photo</name>
        <label>Central Inverter Nameplate Photo</label>
        <locationX>169</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_0</targetReference>
        </connector>
        <fields>
            <name>SharinPixCINameplate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Central_Inverter_Thermal_Photo</name>
        <label>Central Inverter Thermal Photo</label>
        <locationX>194</locationX>
        <locationY>1105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Central_Inverter_Checklist_4_4</targetReference>
        </connector>
        <fields>
            <name>SharinPixCIThermal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_Capture_Screen</name>
        <label>Additional Images</label>
        <locationX>228</locationX>
        <locationY>2626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_or_Fail</targetReference>
        </connector>
        <fields>
            <name>SharinPixCIAI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SharinPixAppLauncher}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Checklist</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PendingWorkFSL_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>PendingWork</label>
        <locationX>659</locationX>
        <locationY>2417</locationY>
        <connector>
            <targetReference>Update_Checklist</targetReference>
        </connector>
        <flowName>Create_Pending_Work_FSL</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>ChecklistId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WoliId</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workorderid</name>
            <value>
                <elementReference>WOId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReportLabel</name>
            <value>
                <elementReference>DoorLatchesLabel</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <name>WoliId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetFault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offline</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OfflineSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Online</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the Service Appointment ID that it will be updating</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SV__c</objectType>
    </variables>
    <variables>
        <name>SharinPixAppLauncher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;a href=&quot;sharinpix://upload?token={!SharinPixToken}&amp;upload_id={!ChecklistId}&quot;&gt;Take Photos&lt;/a&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SharinPixToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statuspick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order ID</description>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
