flows/Procore_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Procore_Project_Request_Email_Alert</name>
        <label>Procore Project Request Email Alert</label>
        <locationX>1365</locationX>
        <locationY>816</locationY>
        <actionName>Site__c.Procore_Project_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Project_to_Requested</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SiteID_ChoiceSet</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_APM_to_Email_Dist_List</name>
        <label>Add APM to Email Dist List</label>
        <locationX>986</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>EmailDistributionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAPMName.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SDE_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PM_to_Email_Dist_List</name>
        <label>Add PM to Email Dist List</label>
        <locationX>880</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>EmailDistributionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetPMName.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APM_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SDE_to_Email_Dist_List</name>
        <label>Add SDE to Email Dist List</label>
        <locationX>1078</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>EmailDistributionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSDEName.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>ProcoreAdminEmailList</name>
        <dataType>String</dataType>
        <value>
            <stringValue>mmersereau@borregosolar.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AlreadyInProcore</name>
        <label>AlreadyInProcore_CreateAnotherProject?</label>
        <locationX>409</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>Get_Site_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EndFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Record.Procore_Project_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_another_Procore_project_0</targetReference>
            </connector>
            <label>Project Exists--Go to Create Another? Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>APM_Populated</name>
        <label>Asst. Project Manager Populated</label>
        <locationX>954</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>GetAPMName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>APM Populated</defaultConnectorLabel>
        <rules>
            <name>APM_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteAPM_ChoiceSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDE_Populated</targetReference>
            </connector>
            <label>APM Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateAnotherProjectChoice</name>
        <label>CreateAnotherProjectChoice</label>
        <locationX>1533</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Finished_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateAnotherProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_create_an_additional_Procore_project_for_a_different_site_locatio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Records</targetReference>
            </connector>
            <label>Yes--Create Another Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateAnotherProjectChoice_0</name>
        <label>CreateAnotherProjectChoice</label>
        <locationX>638</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>AlreadyInProcoreScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateAnotherProject_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_another_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Records</targetReference>
            </connector>
            <label>Yes--Create Another Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Manager_Populated</name>
        <label>Project Manager Populated</label>
        <locationX>869</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>GetPMName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PM Populated</defaultConnectorLabel>
        <rules>
            <name>PM_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SitePM_ChoiceSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APM_Populated</targetReference>
            </connector>
            <label>PM Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDE_Populated</name>
        <label>Ops SDE Populated</label>
        <locationX>1053</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>GetSDEName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SDE Populated</defaultConnectorLabel>
        <rules>
            <name>SDE_Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteSDE_ChoiceSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreen</targetReference>
            </connector>
            <label>SDE Not Populated</label>
        </rules>
    </decisions>
    <description>submit Salesforce Project for creation in Procore</description>
    <dynamicChoiceSets>
        <description>Choose Project Manager or APM for project</description>
        <name>PM_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectManagerDepartment</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>User to choose Site from list of Site records associate with Project, to determine primary project address</description>
        <name>Site_ChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Site_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectRecordID</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputAssignments>
            <assignToReference>SiteFinalCompletion_ChoiceSet</assignToReference>
            <field>Final_Completion__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteID_ChoiceSet</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteName_ChoiceSet</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteAPM_ChoiceSet</assignToReference>
            <field>Project_Coordinator_APM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SitePM_ChoiceSet</assignToReference>
            <field>Project_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteSDE_ChoiceSet</assignToReference>
            <field>Senior_Design_Engineer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteAddress_ChoiceSet</assignToReference>
            <field>Site_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteCity_ChoiceSet</assignToReference>
            <field>Site_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteState_ChoiceSet</assignToReference>
            <field>Site_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SiteZip_ChoiceSet</assignToReference>
            <field>Site_Zip__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ProjectRequestEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Procore Project Setup Request: &quot;&amp;{!Get_Project_Record.Name}</expression>
    </formulas>
    <formulas>
        <description>Role of the user that launched the flow</description>
        <name>RunningUserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <formulas>
        <name>Template1</name>
        <dataType>String</dataType>
        <expression>&quot;The following items from the Salesforce project will be added to Procore. This information can be updated in Procore after the project is created.&quot;&amp;BR()&amp;&quot;Submitted by: &quot;&amp;{!ActiveUser.Name}&amp;BR()&amp;BR()&amp;&quot;Project Name: &quot;&amp;{!Get_Project_Record.Name}&amp;&quot; (&quot;&amp;{!ProjectRecordID}&amp;&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Procore Project {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Procore Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Project Record from Record ID</description>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>329</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AlreadyInProcore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Final_Contract_PriceProject__c</queriedFields>
        <queriedFields>Contract_Signed__c</queriedFields>
        <queriedFields>Overall_Project_Status__c</queriedFields>
        <queriedFields>Job_Number__c</queriedFields>
        <queriedFields>Branch__c</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Procore_Project_ID__c</queriedFields>
        <queriedFields>Ops_Division__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Site Records associated with Project</description>
        <name>Get_Site_Records</name>
        <label>Get Site Records</label>
        <locationX>730</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Primary_Project_Address_instructions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Site_Address__c</queriedFields>
        <queriedFields>Site_City__c</queriedFields>
        <queriedFields>Site_Zip__c</queriedFields>
        <queriedFields>Site_State__c</queriedFields>
        <queriedFields>Construction_Stage__c</queriedFields>
        <queriedFields>Project_Manager__c</queriedFields>
        <queriedFields>Project_Coordinator_APM__c</queriedFields>
        <queriedFields>Development_SDE__c</queriedFields>
        <queriedFields>Senior_Design_Engineer__c</queriedFields>
        <queriedFields>Civil_Engineer__c</queriedFields>
        <queriedFields>Applications_Engineer__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAPMName</name>
        <label>GetAPMName</label>
        <locationX>988</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_APM_to_Email_Dist_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteAPM_ChoiceSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPMName</name>
        <label>GetPMName</label>
        <locationX>891</locationX>
        <locationY>872</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_PM_to_Email_Dist_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SitePM_ChoiceSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSDEName</name>
        <label>GetSDEName</label>
        <locationX>1079</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_SDE_to_Email_Dist_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteSDE_ChoiceSet</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_to_Requested</name>
        <label>Update Project to Requested</label>
        <locationX>1490</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Create_another_Procore_project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Procore_Project_ID__c</field>
            <value>
                <stringValue>000000</stringValue>
            </value>
        </inputAssignments>
        <object>AcctSeed__Project__c</object>
    </recordUpdates>
    <screens>
        <name>AlreadyInProcoreScreen</name>
        <label>AlreadyInProcoreScreen</label>
        <locationX>709</locationX>
        <locationY>32</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AlreadyInProcoreScreen_0</targetReference>
        </connector>
        <fields>
            <name>AlreadyInProcoreMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Project {!Get_Project_Record.Name} is already in Procore.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AlreadyInProcoreScreen_0</name>
        <label>AlreadyInProcoreScreen</label>
        <locationX>581</locationX>
        <locationY>28</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AlreadyInProcoreScreen</targetReference>
        </connector>
        <fields>
            <name>AlreadyInProcoreMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Project {!Get_Project_Record.Name} is already in Procore.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Primary_Project_Address_instructions</name>
        <label>Choose Primary Project Address instructions</label>
        <locationX>857</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Project_Manager_Populated</targetReference>
        </connector>
        <fields>
            <name>Instructions_Text</name>
            <fieldText>&lt;p&gt;Choose the primary site address for this project to appear in Procore.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_address</name>
            <choiceReferences>Site_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project address</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MultipleSitesInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If you need to create additional Procore projects for different locations, you can select another address later.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Procore requires a single address for the project detail page. This can be changed later by the Project Manager.&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>1237</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Procore_Project_Request_Email_Alert</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;The following items from the Salesforce project will be added to Procore. This information can be updated in Procore after the project is created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project Name: &lt;b&gt;{!Get_Project_Record.Name} &lt;/b&gt;&lt;/p&gt;&lt;p&gt;Job Number: &lt;b&gt;{!Get_Project_Record.Job_Number__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Estimated Value: &lt;b&gt;{!Get_Project_Record.Final_Contract_PriceProject__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Estimated Start Date: &lt;b&gt;{!Get_Project_Record.Contract_Signed__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Estimated End Date: &lt;b&gt;{!SiteFinalCompletion_ChoiceSet}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Stage: &lt;b&gt;{!Get_Project_Record.Overall_Project_Status__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Type:&lt;b&gt; {!Get_Project_Record.Site__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Address:&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!SiteName_ChoiceSet}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!SiteAddress_ChoiceSet}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b&gt;{!SiteCity_ChoiceSet}, {!SiteState_ChoiceSet} {!SiteZip_ChoiceSet}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project Manager: &lt;b&gt;{!GetPMName.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Asst Project Manager: &lt;b&gt;{!GetAPMName.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Ops SDE: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GetSDEName.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_another_Procore_project</name>
        <label>Create another Procore project?</label>
        <locationX>1388</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateAnotherProjectChoice</targetReference>
        </connector>
        <fields>
            <name>Do_you_need_to_create_an_additional_Procore_project_for_a_different_site_locatio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you need to create an additional Procore project for a different site/location associated with this job number?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_another_Procore_project_0</name>
        <label>Create another Procore project?</label>
        <locationX>464</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateAnotherProjectChoice_0</targetReference>
        </connector>
        <fields>
            <name>ProjectExists</name>
            <fieldText>&lt;p&gt;A Procore project has already been requested/created for this project.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>create_another_project</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Do you need to create an additional Procore project for a different site/location associated with this job number?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_Screen</name>
        <label>Finished Screen</label>
        <locationX>1647</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finished_Screen_0</targetReference>
        </connector>
        <fields>
            <name>RequestSentMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Project {!Get_Project_Record.Name} has been sent to Procore Admins for setup. Thanks!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished_Screen_0</name>
        <label>Finished Screen</label>
        <locationX>1794</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finished_Screen</targetReference>
        </connector>
        <fields>
            <name>RequestSentMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Project {!Get_Project_Record.Name} has been sent to Procore Admins for setup. Thanks!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email Template sent to Procore Admins for project request</description>
        <name>ProjectRequestEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Template1}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequestEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;{!Get_Project_Record.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Test&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Current Active User</description>
        <name>ActiveUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EmailDistributionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to filter PM_Choice choice set to only PMs and APMs</description>
        <name>ProjectManagerDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Project Management</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record ID if Project, passed via button</description>
        <name>ProjectRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Site Address from Choice Set</description>
        <name>SiteAddress_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteAPM_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteCity_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteFinalCompletion_ChoiceSet</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteID_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteName_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SitePM_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteSDE_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteState_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteZip_ChoiceSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
