flows/Product_Item_Transaction_Created.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Product_Item_Adjusted_by_Technician</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Alert Inventory Management</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ProductItemTransaction.Product_Item_Adjusted_by_Technician</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Item Adjustment Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>1) Email to Inventory Management</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[ProductItemTransaction].CreatedBy.Profile.Name = &quot;O&amp;M&quot;,
ISBLANK([ProductItemTransaction].RelatedRecordId),
[ProductItemTransaction].Quantity != 0.00,
OR(
ISPICKVAL([ProductItemTransaction].TransactionType, &quot;Replenished&quot;),
ISPICKVAL([ProductItemTransaction].TransactionType, &quot;Adjusted&quot;)
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_current.CreatedBy.Profile.Name} = &quot;O&amp;M&quot;,
ISBLANK({!myVariable_current.RelatedRecordId}),
{!myVariable_current.Quantity} != 0.00,
OR(
ISPICKVAL({!myVariable_current.TransactionType}, &quot;Replenished&quot;),
ISPICKVAL({!myVariable_current.TransactionType}, &quot;Adjusted&quot;)
))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISNEW(),
[ProductItemTransaction].CreatedBy.Profile.Name = &quot;O&amp;M&quot;,
ISBLANK([ProductItemTransaction].RelatedRecordId),
[ProductItemTransaction].Quantity != 0.00,
OR(
ISPICKVAL([ProductItemTransaction].TransactionType, &quot;Replenished&quot;),
ISPICKVAL([ProductItemTransaction].TransactionType, &quot;Adjusted&quot;)
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISNEW(),
{!myVariable_old.CreatedBy.Profile.Name} = &quot;O&amp;M&quot;,
ISBLANK({!myVariable_old.RelatedRecordId}),
{!myVariable_old.Quantity} != 0.00,
OR(
ISPICKVAL({!myVariable_old.TransactionType}, &quot;Replenished&quot;),
ISPICKVAL({!myVariable_old.TransactionType}, &quot;Adjusted&quot;)
))</expression>
    </formulas>
    <interviewLabel>Product_Item_Transaction_Created-2_InterviewLabel</interviewLabel>
    <label>Product Item Transaction: Created</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ProductItemTransaction</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItemTransaction</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItemTransaction</objectType>
    </variables>
</Flow>
