flows/Sync_PR_to_Opportunity_Screen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>887</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>Update_Development_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Development</defaultConnectorLabel>
        <rules>
            <name>Standalone_Storage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standalone_Storage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Storage_Opportunity</targetReference>
            </connector>
            <label>Standalone Storage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Request_Approved</name>
        <label>Pricing Request Approved?</label>
        <locationX>453</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Cannot_Sync_Pricing_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved or Completed</defaultConnectorLabel>
        <rules>
            <name>Approved_or_Completed</name>
            <conditionLogic>1 or (2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pricing_Request.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pricing_Request.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_Request_Record_Type</targetReference>
            </connector>
            <label>Approved or Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Request_Record_Type</name>
        <label>Pricing Request Record Type</label>
        <locationX>702</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Update_EPC_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EPC</defaultConnectorLabel>
        <rules>
            <name>Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Request.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Record_Type</targetReference>
            </connector>
            <label>Development</label>
        </rules>
    </decisions>
    <description>Added &quot;Storage Direct COGS&quot; field to Dev Oppty Update</description>
    <formulas>
        <name>SS_DCOGS_Total</name>
        <dataType>Currency</dataType>
        <expression>{!Pricing_Request.Direct_COGS_w__c} * {!Pricing_Request.System_Size_from_Pricing_Tool__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sync PR to Opportunity Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync PR to Opportunity Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>286</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pricing_Request</name>
        <label>Pricing Request</label>
        <locationX>284</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Request_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentPricingRequest</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Tool_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Development_Opportunity</name>
        <label>Update Development Opportunity</label>
        <locationX>1184</locationX>
        <locationY>693</locationY>
        <connector>
            <targetReference>Pricing_Request_Synced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AffiliateFee__c</field>
            <value>
                <elementReference>Pricing_Request.Affiliate_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Pricing_Request_Synced__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESS_Energy_kWh__c</field>
            <value>
                <elementReference>Pricing_Request.Storage_Energy_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESS_Power_kW__c</field>
            <value>
                <elementReference>Pricing_Request.Storage_Power_kW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Contract_System_Size__c</field>
            <value>
                <elementReference>Pricing_Request.System_Size_from_Pricing_Tool__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Installation_Types__c</field>
            <value>
                <elementReference>Pricing_Request.Priced_System_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSDCOGswatt__c</field>
            <value>
                <elementReference>Pricing_Request.Direct_COGS_w__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S_S_Direct_COGS__c</field>
            <value>
                <elementReference>SS_DCOGS_Total</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Direct_COGS__c</field>
            <value>
                <elementReference>Pricing_Request.ESD_Direct_COGS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Synced_Pricing_Request_System_Size__c</field>
            <value>
                <elementReference>Pricing_Request.System_Size_from_Pricing_Tool__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Synced_Pricing_Request__c</field>
            <value>
                <elementReference>CurrentPricingRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility_Upgrades__c</field>
            <value>
                <elementReference>Pricing_Request.Utility_Upgrades__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EPC_Opportunity</name>
        <label>Update EPC Opportunity</label>
        <locationX>1170</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Pricing_Request_Synced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Pricing_Request.PV_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DCOGS_from_Pricing_Tool__c</field>
            <value>
                <elementReference>Pricing_Request.Direct_COGS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Pricing_Request_Synced__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EPC_Total__c</field>
            <value>
                <elementReference>Pricing_Request.Final_EPC_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESDContractValue__c</field>
            <value>
                <elementReference>Pricing_Request.ESD_Final_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESS_Energy_kWh__c</field>
            <value>
                <elementReference>Pricing_Request.Storage_Energy_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESS_Power_kW__c</field>
            <value>
                <elementReference>Pricing_Request.Storage_Power_kW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESU_kWh__c</field>
            <value>
                <elementReference>Pricing_Request.ESU_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Contract_System_Size__c</field>
            <value>
                <elementReference>Pricing_Request.System_Size_from_Pricing_Tool__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PV_Direct_COGS__c</field>
            <value>
                <elementReference>Pricing_Request.PV_Direct_COGS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Installation_Types__c</field>
            <value>
                <elementReference>Pricing_Request.Priced_System_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Direct_COGS__c</field>
            <value>
                <elementReference>Pricing_Request.ESD_Direct_COGS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Synced_Pricing_Request_System_Size__c</field>
            <value>
                <elementReference>Pricing_Request.System_Size_from_Pricing_Tool__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Synced_Pricing_Request__c</field>
            <value>
                <elementReference>CurrentPricingRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_kWh__c</field>
            <value>
                <elementReference>Pricing_Request.System_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_Sites__c</field>
            <value>
                <elementReference>Pricing_Request.of_Sites_priced_in_this_request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Storage_Opportunity</name>
        <label>Update Storage Opportunity</label>
        <locationX>1171</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>Pricing_Request_Synced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AffiliateFee__c</field>
            <value>
                <elementReference>Pricing_Request.Affiliate_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Pricing_Request_Synced__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESS_Energy_kWh__c</field>
            <value>
                <elementReference>Pricing_Request.Storage_Energy_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESS_Power_kW__c</field>
            <value>
                <elementReference>Pricing_Request.Storage_Power_kW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Installation_Types__c</field>
            <value>
                <elementReference>Pricing_Request.Priced_System_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S_S_Direct_COGS__c</field>
            <value>
                <elementReference>Pricing_Request.Direct_COGS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Direct_COGS__c</field>
            <value>
                <elementReference>Pricing_Request.ESD_Direct_COGS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Synced_Pricing_Request_System_Size__c</field>
            <value>
                <elementReference>Pricing_Request.Storage_Energy_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Synced_Pricing_Request__c</field>
            <value>
                <elementReference>CurrentPricingRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility_Upgrades__c</field>
            <value>
                <elementReference>Pricing_Request.Utility_Upgrades__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Cannot_Sync_Pricing_Request</name>
        <label>Cannot Sync Pricing Request</label>
        <locationX>483</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotSyncMessage</name>
            <fieldText>&lt;p&gt;A Pricing Request must be either Approved, or Completed and not currently in an approval process to be synced to the related Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pricing_Request_Synced</name>
        <label>Pricing Request Synced</label>
        <locationX>1426</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Pricing Request was synced successfully. Please close this tab.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentPricingRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
