flows/Update_Opportunity_Yearly_Cost_Assumption.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>YCA_Record_Found</name>
        <label>YCA Record Found</label>
        <locationX>511</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_YCA_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_YCA_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Opportunity_0</targetReference>
            </connector>
            <label>No YCA Records Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>Calculate_MIPA_Contract_Value</name>
        <dataType>Currency</dataType>
        <expression>IF(
 NOT( ISBLANK( {!Get_Current_Opportunity.MIPAContractValueOverride__c} ) ),
{!Get_Current_Opportunity.MIPAContractValueOverride__c} , 
 IF(
  NOT( ISBLANK( {!Get_Current_Opportunity.Acceptedinto7C__c} )),
  {!Get_Current_Opportunity.Post7CContractAmount__c} ,
  IF(
   {!Get_Current_Opportunity.TurnkeyValuation__c} &gt; 0,
   {!Get_Current_Opportunity.TurnkeyValuation__c} - {!Get_Current_Opportunity.EPCRevenue__c} ,
   IF(
    {!Get_Current_Opportunity.Record_Type_Name__c} = &quot;Standalone Storage&quot;,
    ({!NewYCA.Non_IX_Dev_W__c} * {!Get_Current_Opportunity.ESS_Energy_kWh__c} * 1000) + {!Get_Current_Opportunity.InterconnectionUpgradeCost__c} ,
    ({!NewYCA.Non_IX_Dev_W__c} * {!Get_Current_Opportunity.Original_Contract_System_Size__c}) + {!Get_Current_Opportunity.InterconnectionUpgradeCost__c} 
    )
   )
  )
 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Opportunity Yearly Cost Assumption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Yearly Cost Assumption</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Opportunity</name>
        <label>Get Current Opportunity</label>
        <locationX>200</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_YCA_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MIPASignedDate__c</queriedFields>
        <queriedFields>Vertical__c</queriedFields>
        <queriedFields>Assumed_Non_IX_Sales_W__c</queriedFields>
        <queriedFields>MIPAContractValueOverride__c</queriedFields>
        <queriedFields>Acceptedinto7C__c</queriedFields>
        <queriedFields>Post7CContractAmount__c</queriedFields>
        <queriedFields>TurnkeyValuation__c</queriedFields>
        <queriedFields>EPCRevenue__c</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>ESS_Energy_kWh__c</queriedFields>
        <queriedFields>Original_Contract_System_Size__c</queriedFields>
        <queriedFields>InterconnectionUpgradeCost__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_YCA_Record</name>
        <label>Get New YCA Record</label>
        <locationX>357</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>YCA_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cost_Assumption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedCostAssumption</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MIPASignedDate_Year</elementReference>
            </value>
        </filters>
        <object>Yearly_Cost_Assumption__c</object>
        <outputReference>NewYCA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Non_IX_Dev_W__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Opportunity</name>
        <label>Update Current Opportunity - Value</label>
        <locationX>824</locationX>
        <locationY>126</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assumed_Non_IX_Sales_W__c</field>
            <value>
                <elementReference>NewYCA.Non_IX_Dev_W__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MIPA_Contract_Value_Calculation__c</field>
            <value>
                <elementReference>Calculate_MIPA_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Opportunity_0</name>
        <label>Update Current Opportunity - Blank</label>
        <locationX>833</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assumed_Non_IX_Sales_W__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MIPA_Contract_Value_Calculation__c</field>
            <value>
                <elementReference>Calculate_MIPA_Contract_Value</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MIPASignedDate_Year</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewYCA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Yearly_Cost_Assumption__c</objectType>
    </variables>
    <variables>
        <name>RelatedCostAssumption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
